@{
    ViewBag.Title = "Sites";
    Layout = "~/Views/Partners/IndexMaster.cshtml";
}
@model Noqoush.AdFalcon.Web.Controllers.Model.BusinessPartners.SitesZoneListViewModel

    @section subheader
   {
    }
    @section Grid1 {
        @(Html.Telerik().Grid(Model.Items)
               .Name("Grid")
               .Columns(columns =>
                            {
                                columns.Template(
                                    @<text>
                                        <input name="checkedRecords" type="checkbox" value="@item.ID " title="checkedRecords" />
                                    </text>)
                                    .Title("").Width(36).HtmlAttributes(new { style = "text-align:center" })
                                    .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= ID #>' />");

                                columns.Bound(o => o.ZoneName).Template(
                                    @<text><div class="grid-title-container floating-left">
                                            <span class="trimed-span">

                                                <a href='@Url.Action("Groups", "Campaign", new { id = @item.ID }, null)' title='@item.SiteName'>

                                                    @item.ZoneName

                                                </a>
                                            </span>
                                        </div>
                                    </text>
                                    ).Title("Business Partners").Width(300)
                                    .ClientTemplate("<div class='grid-title-container floating-left'><a href=\"" + Url.Action("Ads", "Campaign") + "/" + Model.BusinessId + "/<#= ID#>\"><#= SiteName#></a> </div><div class='grid-cogwheel-container floating-right go-right'> <div class='cogwheel' item_extra_info=\"<#= SiteName#>\" onclick='showGridToolTip(<#= ID#>,this)'><a href='javaScript:void(0);' >&nbsp</a>&nbsp</a></div></div>");
                                columns.Bound(o => o.Description).Title("Email").Width(50).HtmlAttributes(new { @class = "go-center" });

                            }).EnableCustomBinding(true)
                                                                                                                                                                                                                                                                                                                                                                                                        .DataBinding(dataBinding =>
                                                                                                                                                                                                                                                                                                                                                                                                             {
                                                                                                                                                                                                                                                                                                                                                                                                                 dataBinding.Server().Select("Sites", "Partners", new { ajax = true });
                                                                                                                                                                                                                                                                                                                                                                                                                 dataBinding.Ajax().Select("_Sites", "Partners");

                                                                                                                                                                                                                                                                                                                                                                                                             })
                                                                                                                                                                                                                                                                                                                                                                                                .ClientEvents(clientEvents => clientEvents.OnDataBinding("BusinessPartnersGridDataBinding").OnDataBound("BusinessPartnersGridDataBound").OnRowDataBound("onRowDataBound"))
                                                                                                                                                                                                                                                                                                                                                                                                .Scrollable(scrolling => scrolling.Enabled(false))
                                                                                                                                                                                                                                                                                                                                                                                                .Selectable().Pageable(paging => paging.PageSize(Noqoush.AdFalcon.Web.Controllers.Utilities.Config.PageSize)
                                                                                                                                                                                                                                                                                                                                                                                                                        .Total(int.Parse(ViewData["total"].ToString()))
                                                                                                                                                                                                                                                                                                                                                                                                                        .Style(GridPagerStyles.NextPreviousAndNumeric)
                                                                                                                                                                                                                                                                                                                                                                                                                        .Position(GridPagerPosition.Bottom))
                                                                                                                                                                                                                                                                                                                                                                                                .Filterable(filtering => filtering.Enabled(false))
                                                                                                                                                                                                                                                                                                                                                                                                .Groupable(grouping => grouping.Enabled(true)).Footer(true))
    }





