@{
    ViewBag.Title = Html.GetResource("AdCreative", "ThanksTitle");
    ViewData.Add("HideCreative", false);
}
@model ArabyAds.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeSummaryDto
           @{
               ViewData["ControllerName"] = Model.Campaign.CampaignTypeEnum == (int)ArabyAds.AdFalcon.Domain.Common.Model.Campaign.CampaignType.Normal ? "Campaign" : "HouseAd";
           }

<script>

		      GlobalAdvertiserId = '@Model.AdvertiserId';
	 GlobalAdvertiserAccountId = '@Model.AdvertiserAccountId';
</script>
<div class="section-form-container">
@await Html.PartialAsync("Summary/CampaignSummary", Model.Campaign)
@await Html.PartialAsync("Summary/AdGroupSummary", Model.Group)
    <h2>@Html.GetResource("AdCreation", "Titles") @Html.ActionLink(Html.GetResource("Edit", "Commands"), "Creative", ViewData["ControllerName"].ToString(), new { id = Model.Campaign.ID, adGroupId = Model.Group.ID, adId = Model.ID, returnUrl = Context.Request.GetRawUrl() }, new { @class = "grid-tool-tip-edit floating-right ie-edit-ads" })</h2>

@await Html.PartialAsync("Summary/AdSummary", Model)
</div>

<div class="section-footer">
</div>
<div class="data-row go-center">

    @if (Model.TypeId != ArabyAds.AdFalcon.Domain.Common.Model.Campaign.AdTypeIds.TrackingAd)
    {
        @*<input type="button" value="@Html.GetResource("AddNewAds", "Commands")" class="primary-btn" onclick="redirect('@(Url.Action("Creative", ViewBag.ControllerName, new { id = Model.Campaign.ID, adGroupId = Model.Group.ID,returnurl=Context.Request.Query["returnUrl"]}))')"/> AhmadComment*@
        <input type="button" value="@Html.GetResource("AddNewAds", "Commands")" class="primary-btn" onclick="redirect('@(Url.Action("Creative", ViewData["ControllerName"].ToString(), new { id = Model.Campaign.ID, adGroupId = Model.Group.ID,returnurl=Context.Request.Query["returnUrl"]}))')" />

    }
    else
    {
        @*<input type="button" value="@Html.GetResource("AddNewTrackerAd", "Commands")" class="primary-btn" onclick="redirect('@(Url.Action("Creative", ViewBag.ControllerName, new { id = Model.Campaign.ID, adTypeId = (int)Model.TypeId, adGroupId = Model.Group.ID, returnurl = Request.QueryString["returnUrl"] }))')" /> AhmadComment*@
        <input type="button" value="@Html.GetResource("AddNewTrackerAd", "Commands")" class="primary-btn" onclick="redirect('@(Url.Action("Creative", ViewData["ControllerName"].ToString(), new { id = Model.Campaign.ID, adTypeId = (int)Model.TypeId, adGroupId = Model.Group.ID, returnurl = Context.Request.Query["returnUrl"] }))')" />


    }

    @*<input type="button" value="@Html.GetResource("Close", "Commands")" class="btn" onclick="redirect('@(string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ? Url.Action("Ads", ViewBag.ControllerName, new { id = Model.Campaign.ID, adGroupId = Model.Group.ID }) : Context.Request.Query["returnUrl"])')" /> AhmadComment*@
    <input type="button" value="@Html.GetResource("Close", "Commands")" class="btn" onclick="redirect('@(string.IsNullOrWhiteSpace(Context.Request.Query["returnUrl"]) ? Url.Action("Ads", ViewData["ControllerName"].ToString(), new { id = Model.Campaign.ID, adGroupId = Model.Group.ID }) : Context.Request.Query["returnUrl"].ToString())')" />
</div>

