@model Noqoush.AdFalcon.Web.Controllers.Model.Campaign.CampaignBidConfigModel


@Html.Hidden("CampaignId", Model.CampaignId)
@Html.Hidden("UpdatedCampaignBidConfiges-Dialog", "")

@Html.Hidden("DeletedCampaignBidConfigs-Dialog", "")
@Html.Hidden("InserteCampaignBidConfigs-Dialog", "")


<div id="gridDivBidConfig" class="floating-left grid-containe" >
    <div class="data-row" style="padding: 15px;">
        <div class="go-left data-row">
            @Html.GetResource("BidConfigsDescription", "Campaign")
        </div>
    </div>

    <div class="data-row red-box" style="display:none; " id="divErrorMessagesForBidConfigsDialog">
        <div class="data-row"><span class="msg-img"></span><span style="width:450px!important" >@Html.GetResource("MinBidErrMsg", "Global")</span></div>
    </div>
    <div class="data-row " style="padding: 15px;">
        @(Html.Telerik().Grid(Model.CampaignBidConfigList).Name("CampaignBidConfigs").NoRecordsTemplate("&nbsp;").TableHtmlAttributes(new { width = "800px" })
        .DataKeys(p => p.Add(o => o.ID))
        .EnableCustomBinding(true)
        .Editable(ed => ed.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(false)

        .DefaultDataItem(new Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign.CampaignBidConfigDto()))
        .Columns(columns =>
        {

            columns.Bound(o => o.ID).Hidden();
            columns.Bound(o => o.AdGroupId).Hidden();
            columns.Bound(o => o.Appsite.ID).Hidden();
            columns.Bound(o => o.AccountId).Hidden();
            columns.Bound(o => o.AccountName).Width("150px").Visible(true).Title(Html.GetResource("AccountName", "CampaignBidConfig")).ReadOnly();
            columns.Bound(o => o.Appsite.Name).HtmlAttributes(new { @class = "trimed-info2", id = "AppsiteName" }).Width("150px").Visible(true).Title(Html.GetResource("Name", "AppSite")).HtmlAttributes(new { style = " max-width: 200px ; overflow : hidden; text-overflow: ellipsis; white-space: nowrap;" }).ReadOnly();
            
            columns.Bound(o => o.SubPublisherId).ReadOnly();
            columns.Bound(o => o.AppsitePricingModel).Template(
                @<text>
                    @{
                        if (@item.AppsitePricingModel == string.Empty)
                        {
                            @Html.GetResource("Default", "Campaign")
                        }
                        else
                        { @item.AppsitePricingModel }

                    }
                </text>
                                    ).ReadOnly().Width("200px");

            columns.Bound(o => o.MinBid).Title(Html.GetResource("MaxBidConfig", "BidConfig")).ReadOnly().Width("70px").HtmlAttributes(new { id = "MinBid" });
            columns.Bound(o => o.Bid).Title(Html.GetResource("Bid", "Campaign")).Template(
            r => Html.AdFalconTextBox("Bid" + r.ID, r.Bid.ToString("F3"), new
            {
                @class = "required text-box ",
                maskType = "decimal",
                onchange = " CampaignBidConfigs_BidValue_Changed(this);",
                onfocus = "onBid_select(this);"
               ,
                onkeypress = "onbidpress(event,this)",
                style = "width:80px"
            }).ToString() +
            "<span class='field-validation-error' style='display: none;'><span>" + Html.GetResource("CurrencyMsg", "ResourceSet") + "</span></span>"
                //  Html.AdFalconValidationMessage("Bid" + r.ID).ToString()
            ).ReadOnly()
            .HtmlAttributes(new { style = "width:50px!important;" })
            .ClientTemplate(
             Html.AdFalconTextBox("Bid", "", new
             {
                 //    @class = "required text-box input-validation-error",
                 maskType = "decimal",
                 onchange = " CampaignBidConfigs_BidValue_Changed(this);",
                 onfocus = "onBid_select(this);"
                ,
                 onkeypress = "onbidpress(event,this)",
                 style = "width:80px"
             }).ToString().ToString()
            +
            "<span  class='field-validation-error' style='display: none;'><span>" + Html.GetResource("CurrencyMsg", "ResourceSet") + "</span></span>"

            //  Html.AdFalconValidationMessage("Bid").ToString()
            )
            .HtmlAttributes(new { style = "width:50px!important;" }).ReadOnly();

            columns.Template(@<text>
                <div id="DeleteButton" style="display:none"><a class='t-button t-button-icon t-button-bare' onclick='ShowConfirmationDialogForDialog(this);'><span class='t-icon t-delete'></span></a></div>
            </text>)
        .ClientTemplate("<div id='DeleteButton' style='display:none' ><a  class='t-button t-button-icon t-button-bare' type='button' onclick='ShowConfirmationDialogForDialog(this);'><span class='t-icon t-delete'></span></button></div>").Width("5px");
        }).ClientEvents(e => e.OnDataBound("CampaignBidConfigs_OnDataBound"))
                                                                                                                            .DataBinding(dataBinding =>
                                                                                                                            {
                                                                                                                                dataBinding.Server().Select("GetCampaignBidConfigs", "Campaign", new { ajax = true });
                                                                                                                                dataBinding.Ajax().Select("GetCampaignBidConfigs", "Campaign");

                                                                                                                            })
                                                                                                                            .Scrollable(scrolling => scrolling.Enabled(false)).EnableCustomBinding(true))

    </div>
</div>


<script type="text/javascript">
    var BidMustBeMoreThanMinBid = '@Html.GetResource("MinBidErrMsg")';
    var ConfriamtionBoxTitle = "@Html.GetResource("Confirm")";
    var Confirmation = "@Html.GetResource("Delete", "Confirmation")";
    var yesbtn = "@Html.GetResource("Yes", "Global")";
    var nobtn = "@Html.GetResource("No", "Global")";
    var close = "@Html.GetResource("Close","Commands")";

    $(document).ready(function () {
        $("#CampaignBidConfigDialog").dialog({

            resizable: false,
            draggable: false,
            maxHeight: 700,
            minHeight: 0,
            width: 900,
            modal: true,
            autoOpen: false,
            title: '@Html.GetResource("CampaignBidConfig", "Titles")',

        });
        $("#CampaignBidConfigs .t-status .t-icon.t-refresh").attr("style", "display:none");


    });
    function ShowConfirmationDialogForDialog(elem) {

        var name = $(elem).parents('tr').find("#AppsiteName").text();

        if (name.length > 30)
            name = name.substring(0, 30) + "..";

        $("#ConfirmationDialog").dialog({

            open: function () {
                $(this).html(Confirmation.format(name));

            },
            showCloseButton: false,

            buttons: [
            {
                text: yesbtn,
                click: function () {

                    deleteAssignedAppsitesBidConfigDialog(elem);
                    $(this).dialog("close");

                }
            },
            {
                text: nobtn,
                click: function () {
                    $(this).dialog('close');

                }
            }

            ]
        });

        $("#ConfirmationDialog").dialog("open");

    }


</script>