@{
	var visibilityValue = "hidden;";
	if ((ViewBag.ShowMenu != null) && ViewBag.ShowMenu)
	{
		visibilityValue = "visibility;";
	}
}


@{
	var homeBaseController = ViewContext.Controller as Noqoush.AdFalcon.Web.Controllers.Core.ControllerBase;
}

@{

	if ((Noqoush.Framework.OperationContext.Current.UserInfo
	   <Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
	   ().AccountRole == (int)Noqoush.AdFalcon.Domain.Common.Model.Account.AccountRole.DSP))
	{
<ul id="menu-nav" style="visibility: @visibilityValue">
	<li id="ListMenuDashboard">
		<a class="parent gradient" href="@Url.Action("index", "dashboard", new { chartType = "ad", id = "" })">@Html.GetResource("Dashboard", "Menu")</a>
	</li>
	<li id="ListMenuAdvertiser">
		<a class="parent gradient" href="@Url.Action("AccountAdvertisers", "campaign", new { id = "" })">@Html.GetResource("Advertisers")</a>
		<ul class="dropdownAdFalcon">
			<li>@Html.ActionLink(Html.GetResource("TrafficPlanner"), "TrafficPlanner", "Campaign")</li>
			<li><a class="" href="@Url.Action("MasterAppSites", "campaign", new { @id = "" })">@Html.GetResource("ContentLists", "Global")</a></li>

		</ul>
	</li>

	<li id="ListMenuReports">

		@{
			//if (Noqoush.Framework.OperationContext.Current.UserInfo
			//<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
			//().Permissions != null && Noqoush.Framework.OperationContext.Current.UserInfo<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
			//().Permissions.Where(x => x == (int)Noqoush.AdFalcon.Domain.Common.Model.Core.PortalPermissionsCode.ReportSchedule).Count() > 0)
			<a class="parent gradient" href="@Url.Action("IndexReportsJob", "reports", new { reportType = "ad" })">@Html.GetResource("Reports", "Menu")</a>
			@*}*@
			@*else
				{
					<a class="parent gradient" href="@Url.Action("index", "reports",new { reportType = "ad" })">@Html.GetResource("Reports", "Menu")</a>

				}*@


		}
	</li>

	@{if (Noqoush.Framework.OperationContext.Current.UserInfo
											  <Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
											  ().Permissions != null && Noqoush.Framework.OperationContext.Current.UserInfo<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
											  ().Permissions.Where(x => x == (int)Noqoush.AdFalcon.Domain.Common.Model.Core.PortalPermissionsCode.PMPDeal).Count() > 0)
		{


			<li id="ListMenuDeals">
				<a class="parent gradient">@Html.GetResource("Deals", "PMPDeal")</a>
				<ul class="dropdownAdFalcon">
					<li>@Html.ActionLink(Html.GetResource("PMPDeals", "Menu").ToString(), "index", "deals", new { @id = "" }, new { })</li>
					<li>@Html.ActionLink(Html.GetResource("DealMonitoring", "PMPDeal").ToString(), "index", "dashboard", new { chartType = "deal", id = "" }, null)</li>
				</ul>

			</li>
		}
	}

	@{

		var externalList = homeBaseController.GetExternalDataProviderQueryResultAllResult().ToList();
		 
			if (externalList != null && externalList.Count > 0)
			{
				<li id="ListMenuDataProviders">
					<a class="parent gradient" href="#">@Html.GetResource("Providers", "Audience")</a>
					<ul class="dropdownAdFalcon">


						@foreach (var item in externalList)
						{

							<li id="DataProviderMenuNameLink">
								<a id="DataProviderMenuName">@item.Name</a>

								<ul class="dropdownAdFalcon nextlevel" style="left:190px">
									<li id="DataProviderMenuForgetpassword@(item.ID)" style="display:none">@Html.ActionLink(Html.GetResource("Forgetpassword", "Titles").ToString(), "LandingDataProvider", "DataProvider", new { Id = item.ID, Source = "Forgetpassword" }, new { id = "DataProviderMenuForgetpasswordURL" })</li>
									<li id="DataProviderMenuChangePassword@(item.ID)"  style="display:none">@Html.ActionLink(Html.GetResource("ChangePassword", "Titles").ToString(), "LandingDataProvider", "DataProvider", new { Id = item.ID, Source = "ChangePassword" }, new { id = "DataProviderMenuChangePasswordURL" })</li>

									<li id="DataProviderMenuLogin@(item.ID)">@Html.ActionLink(Html.GetResource("Login", "Titles").ToString(), "LandingDataProvider", "DataProvider", new { Id = item.ID, Source = "Login" }, new { id = "DataProviderMenuLoginURL" })</li>
									<li id="DataProviderMenuRegister@(item.ID)"  style="display:none">@Html.ActionLink(Html.GetResource("Register", "UserInformation").ToString(), "LandingDataProvider", "DataProvider", new { Id = item.ID, Source = "Register" }, new { id = "DataProviderMenuRegisterURL" })</li>

									<li id="DataProviderMenuAudiance@(item.ID)" style="display:none">@Html.ActionLink(Html.GetResource("AudienceLists", "Global").ToString(), "LandingDataProvider", "DataProvider", new { Id = item.ID, Source = "Audiance" }, new { id = "DataProviderMenuAudianceURL" })</li>

									<li id="DataProviderMenuLogOut@(item.ID)" style="display:none"><a class="" href="#" onclick="return HandleDataProviderMenuLogOut@(item.ID)();">@Html.GetResource("Logout", "UserInformation")</a></li>
								</ul>
							</li>

							<text>

								<script type="text/javascript">

									var transport@(item.ID) = null;
						$(document).ready(function () {

						
						 transport@(item.ID) = new easyXDM.Socket(/** The configuration */{
						local: "~/scripts/EasyXDM/name.html",
							swf:  "/@(item.SiteProviderURL)/scripts/EasyXDM/easyxdm.swf",
							remoteHelper: "@(item.SiteProviderURL)/scripts/EasyXDM/name.html",

						remote: "@(item.SiteProviderURL)/remotetransport.html?username=" + LoggedInUserObject.Email  + "&lang=" + LoggedInUserObject.CurrentLanguage,
							onMessage: function (message, origin) {
								/**
								* If we want to do something once the transport is ready then we can place it here
								*/
								//debugger
								if (message == "false") {
									$("#DataProviderMenuRegister" +@(item.ID)).show();
									$("#DataProviderMenuLogin" + @(item.ID)).show();
									$("#DataProviderMenuForgetpassword" + @(item.ID)).show();
									$("#DataProviderMenuChangePassword" + @(item.ID)).hide();
									$("#DataProviderMenuLogOut" + @(item.ID)).hide();
									$("#DataProviderMenuAudiance" + @(item.ID)).hide();
								}
								else {

										$("#DataProviderMenuRegister" +@(item.ID)).hide();
									$("#DataProviderMenuLogin" + @(item.ID)).hide();
									$("#DataProviderMenuForgetpassword" + @(item.ID)).hide();
									$("#DataProviderMenuChangePassword" + @(item.ID)).show();
									$("#DataProviderMenuLogOut" + @(item.ID)).show();
							$("#DataProviderMenuAudiance" + @(item.ID)).show();

								}

							


						}
						});



						


						});
									function HandleDataProviderMenuLogOut@(item.ID)() {
										if (!(typeof HandleDataProviderMenuLogOut === "function")) { transport@(item.ID).postMessage("LogOut"); }
										else if (!(window.remote == undefined)) {
											var result = HandleDataProviderMenuLogOut('@(item.ID)');
											if (result) {

												transport@(item.ID).postMessage("LogOut");
											}

										}

										else { transport@(item.ID).postMessage("LogOut"); }
																			return false;
								}
								</script></text>

						}


					</ul>
				</li>
				}
			}
	<li id="ListMenuAdmin">
		<a class="parent gradient" href="@Url.Action("Index", "AdOps")">@Html.GetResource("AccountManagement", "Menu").ToString()</a>
		<ul class="dropdownAdFalcon">

			<li>@Html.ActionLink(Html.GetResource("Impersonate", "Menu").ToString(), "Impersonate", "AccountManagement")</li>
			<li>@Html.ActionLink(Html.GetResource("AdOps", "Menu").ToString(), "Index", "AdOps")</li>
			<li>@Html.ActionLink(Html.GetResource("AppOps", "Menu").ToString(), "AppSiteManagement", "AppOps")</li>
			<li>
				<a>@Html.GetResource("PublisherPerformance", "Menu").ToString()</a>

				<ul class="dropdownAdFalcon nextlevel" style="left:195px">
					@*<li>@Html.ActionLink("Dashboard Test", "dashboardTest", "AppOps")*@
					<li>@Html.ActionLink(Html.GetResource("AppOpsTopAccounts", "Menu").ToString(), "AccountsPerformance", "AppOps")</li>
					<li><a href="@Url.Action("AppSitesPerformance", "AppOps",new { id=string.Empty })">@Html.GetResource("AppOpsTopAppSites", "Menu").ToString()</a></li>
				</ul>
			</li>

			<li>
				<a>@Html.GetResource("LookupManagement", "Menu")</a>

				<ul class="dropdownAdFalcon nextlevel" style="left:195px">
					<li>@Html.ActionLink(Html.GetResource("Buyer", "account").ToString(), "Buyer", "User")</li>
					<li>@Html.ActionLink(Html.GetResource("AudienceSegments", "Audience"), "Providers", "Lookup")</li>
					<li>@Html.ActionLink(Html.GetResource("LookupManagement", "Menu").ToString(), "Index", "Lookup", new { id = "currency" }, new { })</li>

				</ul>
			</li>
			<li>@Html.ActionLink(Html.GetResource("GlobalDeals", "Deal"), "index", "deals", new { AllowGlobalization = true }, null)</li>
			<li><a class="" href="@Url.Action("GlobalMasterAppSites", "campaign", new { @id = "" })">@Html.GetResource("MasterAppSiteLists", "Global")</a></li>
			<li>@Html.ActionLink(Html.GetResource("AdFund", "Menu").ToString(), "AddFund", "AccountManagement")</li>
			@*<li>@Html.ActionLink(Html.GetResource("AddPayment", "Menu").ToString(), "AddPayment", "AccountManagement")</li>*@
			<li>
				<a>@Html.GetResource("PartyManagement", "Menu")</a>

				<ul class="dropdownAdFalcon nextlevel" style="left:195px">
					<li>@Html.ActionLink(Html.GetResource("Employees", "Menu"), "Employees", "Party")</li>
					<li>@Html.ActionLink(Html.GetResource("BusinessPartners", "Menu"), "businesspartners", "Party")</li>
				</ul>
			</li>

			<li>@Html.ActionLink(Html.GetResource("BusinessPartnerSupplyMenu", "Menu").ToString(), "Index", "Partner")</li>
			<li>@Html.ActionLink(Html.GetResource("AccountDSPManagement", "AccountDSPRequest").ToString(), "AccountDSPRequests", "User")</li>

			<li class="menu-last">@Html.ActionLink(Html.GetResource("TransactionVATHistory", "Global").ToString(), "TransactionVATHistory", "AccountManagement")</li>
		</ul>
	</li>
</ul>
	}
	else if ((Noqoush.Framework.OperationContext.Current.UserInfo
<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
().AccountRole == (int)Noqoush.AdFalcon.Domain.Common.Model.Account.AccountRole.DataProvider))
	{
		<ul id="menu-nav" style="visibility: @visibilityValue">
			<li id="ListMenuDashboard">
				<a class="parent gradient" href="@Url.Action("index", "dashboard", new { chartType = "lmpressionlog",id = "" })">@Html.GetResource("Dashboard", "Menu")</a>
			</li>
			<li id="ListMenuAdvertiser">
				<a class="parent gradient" href="@Url.Action("ImpressionLogs", "User")">@Html.GetResource("ImpressionLogs", "DPP")</a>
			</li>

			<li id="ListMenuAdmin">
				<a class="parent gradient" href="@Url.Action("Index", "AdOps")">@Html.GetResource("AccountManagement", "Menu").ToString()</a>
				<ul class="dropdownAdFalcon">

					<li>@Html.ActionLink(Html.GetResource("Impersonate", "Menu").ToString(), "Impersonate", "AccountManagement")</li>
					<li>@Html.ActionLink(Html.GetResource("AdOps", "Menu").ToString(), "Index", "AdOps")</li>
					<li>@Html.ActionLink(Html.GetResource("AppOps", "Menu").ToString(), "AppSiteManagement", "AppOps")</li>
					<li>
						<a>@Html.GetResource("PublisherPerformance", "Menu").ToString()</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							@*<li>@Html.ActionLink("Dashboard Test", "dashboardTest", "AppOps")*@
							<li>@Html.ActionLink(Html.GetResource("AppOpsTopAccounts", "Menu").ToString(), "AccountsPerformance", "AppOps")</li>
							<li><a href="@Url.Action("AppSitesPerformance", "AppOps",new { id=string.Empty })">@Html.GetResource("AppOpsTopAppSites", "Menu").ToString()</a></li>
						</ul>
					</li>

					<li>
						<a>@Html.GetResource("LookupManagement", "Menu")</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							<li>@Html.ActionLink(Html.GetResource("Buyer", "account").ToString(), "Buyer", "User")</li>
							<li>@Html.ActionLink(Html.GetResource("AudienceSegments", "Audience"), "Providers", "Lookup")</li>
							<li>@Html.ActionLink(Html.GetResource("LookupManagement", "Menu").ToString(), "Index", "Lookup", new { id = "currency" }, new { })</li>

						</ul>
					</li>
					<li>@Html.ActionLink(Html.GetResource("GlobalDeals", "Deal"), "index", "deals", new { AllowGlobalization = true }, null)</li>
					<li><a class="" href="@Url.Action("GlobalMasterAppSites", "campaign", new { @id = "" })">@Html.GetResource("MasterAppSiteLists", "Global")</a></li>

					@*<li>@Html.ActionLink(Html.GetResource("AdFund", "Menu").ToString(), "AddFund", "AccountManagement")</li>*@
					<li>@Html.ActionLink(Html.GetResource("AddPayment", "Menu").ToString(), "AddPayment", "AccountManagement")</li>
					<li>
						<a>@Html.GetResource("PartyManagement", "Menu")</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							<li>@Html.ActionLink(Html.GetResource("Employees", "Menu"), "Employees", "Party")</li>
							<li>@Html.ActionLink(Html.GetResource("BusinessPartners", "Menu"), "businesspartners", "Party")</li>
						</ul>
					</li>

					<li>@Html.ActionLink(Html.GetResource("BusinessPartnerSupplyMenu", "Menu").ToString(), "Index", "Partner")</li>
					<li>@Html.ActionLink(Html.GetResource("AccountDSPManagement", "AccountDSPRequest").ToString(), "AccountDSPRequests", "User")</li>

					<li class="menu-last">@Html.ActionLink(Html.GetResource("TransactionVATHistory", "Global").ToString(), "TransactionVATHistory", "AccountManagement")</li>
				</ul>
			</li>

		</ul>
	}
	else
	{
		<ul id="menu-nav" style="visibility: @visibilityValue ">
			<li id="ListMenuAdvertiser">
				<a class="parent gradient" href="@Url.Action("index", "dashboard", new { chartType = "ad", id="" })">@Html.GetResource("Advertiser", "Menu").ToString()</a>
				<ul class="dropdownAdFalcon">
					<li>@Html.ActionLink(Html.GetResource("Dashboard", "Menu").ToString(), "index", "dashboard", new { chartType = "ad", id = "" }, null)</li>
					@*<li>@Html.ActionLink("Dashboard Test", "index", "dashboardTest", new { chartType = "ad" }, null)</li>*@

					<li>@Html.ActionLink(Html.GetResource("Advertisers"), "AccountAdvertisers", "campaign", new { @id = "" }, new { })</li>
					<li><a class="" href="@Url.Action("MasterAppSites", "campaign", new { @id = "" })">@Html.GetResource("ContentLists", "Global")</a></li>

					<li>@Html.ActionLink(Html.GetResource("Reports", "Menu"), "IndexReportsJob", "reports", new { reportType = "ad" }, null)</li>


					<li class="menu-last">
						<a>@Html.GetResource("Deals", "PMPDeal").ToString()</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:190px">
							<li>@Html.ActionLink(Html.GetResource("PMPDeals", "Menu").ToString(), "index", "deals", new { @id = "" }, new { })</li>
							<li>@Html.ActionLink(Html.GetResource("DealMonitoring", "PMPDeal").ToString(), "index", "dashboard", new { chartType = "deal", id = "" }, null)</li>

						</ul>
					</li>
					<li>@Html.ActionLink(Html.GetResource("TrafficPlanner"), "TrafficPlanner", "Campaign")</li>

					

				</ul>
			</li>


			<li id="ListMenuPublisher">
				<a class="parent gradient" href="@Url.Action("index", "dashboard", new { chartType = "app",id = "" })">@Html.GetResource("Publisher", "Menu").ToString()</a>
				<ul class="dropdownAdFalcon">
					<li>@Html.ActionLink(Html.GetResource("Dashboard", "Menu").ToString(), "index", "dashboard", new { chartType = "app", id = "" }, null)</li>

					<li>@Html.ActionLink(Html.GetResource("Apps", "Menu").ToString(), "index", "appsite")</li>
					<li>@Html.ActionLink(Html.GetResource("HouseAd", "Menu").ToString(), "index", "HouseAd")</li>
					<li>@Html.ActionLink(Html.GetResource("Reports", "Menu"), "IndexReportsJob", "reports", new { reportType = "app" }, null)</li>

					<li class="menu-last"><a href='@Url.GetPublicPageUrl("download-sdk.html")'>@Html.GetResource("SDKs", "Menu").ToString()</a></li>
				</ul>
			</li>




			<li id="ListMenuAdmin">
				<a class="parent gradient" href="@Url.Action("Index", "AdOps")">@Html.GetResource("AccountManagement", "Menu").ToString()</a>
				<ul class="dropdownAdFalcon">

					<li>@Html.ActionLink(Html.GetResource("Impersonate", "Menu").ToString(), "Impersonate", "AccountManagement")</li>
					<li>@Html.ActionLink(Html.GetResource("AdOps", "Menu").ToString(), "Index", "AdOps")</li>
					<li>@Html.ActionLink(Html.GetResource("AppOps", "Menu").ToString(), "AppSiteManagement", "AppOps")</li>
					<li>
						<a>@Html.GetResource("PublisherPerformance", "Menu").ToString()</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							@*<li>@Html.ActionLink("Dashboard Test", "dashboardTest", "AppOps")*@
							<li>@Html.ActionLink(Html.GetResource("AppOpsTopAccounts", "Menu").ToString(), "AccountsPerformance", "AppOps")</li>
							<li><a href="@Url.Action("AppSitesPerformance", "AppOps",new { id=string.Empty })">@Html.GetResource("AppOpsTopAppSites", "Menu").ToString()</a></li>
						</ul>
					</li>


					<li>
						<a>@Html.GetResource("LookupManagement", "Menu")</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							<li>@Html.ActionLink(Html.GetResource("Buyer", "account").ToString(), "Buyer", "User")</li>
							<li>@Html.ActionLink(Html.GetResource("AudienceSegments", "Audience"), "Providers", "Lookup")</li>
							<li>@Html.ActionLink(Html.GetResource("LookupManagement", "Menu").ToString(), "Index", "Lookup", new { id = "currency" }, new { })</li>

						</ul>
					</li>
					<li>@Html.ActionLink(Html.GetResource("GlobalDeals", "Deal"), "index", "deals", new { AllowGlobalization = true }, null)</li>

					<li><a class="" href="@Url.Action("GlobalMasterAppSites", "campaign", new { @id = "" })">@Html.GetResource("MasterAppSiteLists", "Global")</a></li>
					<li>@Html.ActionLink(Html.GetResource("AdFund", "Menu").ToString(), "AddFund", "AccountManagement")</li>
					<li>@Html.ActionLink(Html.GetResource("AddPayment", "Menu").ToString(), "AddPayment", "AccountManagement")</li>
					<li>
						<a>@Html.GetResource("PartyManagement", "Menu")</a>

						<ul class="dropdownAdFalcon nextlevel" style="left:195px">
							<li>@Html.ActionLink(Html.GetResource("Employees", "Menu"), "Employees", "Party")</li>
							<li>@Html.ActionLink(Html.GetResource("BusinessPartners", "Menu"), "businesspartners", "Party")</li>
						</ul>
					</li>

					<li>@Html.ActionLink(Html.GetResource("BusinessPartnerSupplyMenu", "Menu").ToString(), "Index", "Partner")</li>
					<li>@Html.ActionLink(Html.GetResource("AccountDSPManagement", "AccountDSPRequest").ToString(), "AccountDSPRequests", "User")</li>
					<li>@Html.ActionLink(Html.GetResource("Permissions", "Global").ToString(), "Permissions", "User")</li>
					<li class="menu-last">@Html.ActionLink(Html.GetResource("TransactionVATHistory", "Global").ToString(), "TransactionVATHistory", "AccountManagement")</li>
				</ul>
			</li>
		</ul>
	}
}
