@model Noqoush.AdFalcon.Web.Controllers.Model.ChangePasswordInfo
@{
    ViewBag.Title = Html.GetResource("ChangePassword", "Titles");
}

<style>
	#breadcrumb a.btn#BreadCrum1 {
		padding-left: 30px !important;
	}
</style>
@using (Html.BeginForm())
{
    <h2>
        @Html.GetResource("ChangePassword", "Titles")
    </h2>
    <div class="section-form-container">
        <div class="section-form-inner-container last-container">
            <div class="label-container iea-label-container-padding-left">
                <span class="field-title required-field">@Html.GetResource("CurrentPassword", "Global")</span>
            </div>
            <div class="field-container iea-go-left">
                @Html.AdFalconPasswordFor(p => p.CurrentPassword, new { maxlength = 16 })
                @Html.AdFalconValidationMessageFor(p => p.CurrentPassword)
            </div>
        </div>
        <div class="section-form-inner-container last-container">
            <div class="label-container  iea-label-container-padding-left">
                <span class="field-title required-field">@Html.GetResource("Password", "Global")</span>
            </div>
            <div class="field-container iea-go-left">
                @Html.AdFalconPasswordFor(p => p.Password, new { maxlength = 16 })
                @Html.AdFalconValidationMessageFor(p => p.Password)
            </div>
        </div>
        <div class="section-form-inner-container last-container">
            <div class="label-container  iea-label-container-padding-left">
                <span class="field-title required-field">@Html.GetResource("ConfirmPassword", "Global")</span>
            </div>
            <div class="field-container iea-go-left">
                @Html.AdFalconPasswordFor(p => p.ConfirmPassword, new { maxlength = 16 })
                @Html.AdFalconValidationMessageFor(p => p.ConfirmPassword)
            </div>
        </div>
          </div>
    <div class="section-footer"></div>
        <div class="data-row button-container">
            <input value="@Html.GetResource("Save")" type="submit" class="primary-btn" /><input  type="button" value='@Html.GetResource("Cancel","Global")' class="btn" onclick="redirect('@Url.Action("edit","User")')"/>
        </div>
    
}