@model Noqoush.AdFalcon.Web.Controllers.Model.ForgetpasswordInfo
@{
    ViewBag.Title = Html.GetResource("Forgetpassword", "Titles");
    Layout = "~/Views/Shared/MasterLayouts/Inner.cshtml";
    string loginUrl = Url.Action("login", "User");
}

<style>
    #breadcrumb a.btn#BreadCrum1 {
        padding-left: 30px !important;
    }
</style>


@using (Html.BeginForm())
{

    <div class="section-form-inner-container last-container">
        <div class="data-row login-area-container forget-password">
            <div class="box-content">
				<h3>@Html.GetResource("Forgetpassword", "Titles")</h3>
                <div class="login-form-container">
                    <div class="text-boxes-pass-container">
                        <div class="form-group">
                            <label>
                                <span class="field-title required-field">@Html.GetResource("email", "Global")</span>
                            </label>
                            <div>
                                @Html.AdFalconTextBox("Email", null, new { Class = "form-control" })
                                <br />
                                <br />
                                @Html.AdFalconValidationMessageFor(p => p.Email)
                            </div>
                        </div>
                    </div>



                    <div class="field-container">
                        <div class="data-row go-bold new-account">
                            <input value="@Html.GetResource("Send", "Commands")" type="submit" class="primary-btn" />

                            <input value="@Html.GetResource("Login", "Titles")" type="button" onclick="window.location = '@loginUrl';" class="primary-btn" />
                        </div>

                    </div>
                </div>
                </div>
            </div>
    </div>

}