@model Noqoush.AdFalcon.Web.Controllers.Model.Select2ViewModel
@{
    Layout = null;
}



<script type="text/javascript">

    var SourceUrl@(Model.Id) = '@Url.Action(Model.ActionName,Model.ControllerName)';
    var @(Model.Id)ListId = "#Select2_" + '@Model.Id' + "List";
    var @(Model.Id)P = "#" + '@Model.Id' + "P";

    $(document).ready(function () {

        @(Model.Id)_fillElements();

        $(@(Model.Id)ListId).on("select2:selecting", function (e) {
            if ($(@(Model.Id)ListId+":selected").length > 5)
            {

                $(@(Model.Id)P).find("span.select2-selection").attr("style", "width: 295px;height:75px; overflow:auto;");
            }

        });


    });




    function @(Model.Id)_fillElements() {
        var List = [];
        var option = "<option value='{0}'>{1}</option>";
        var selectElemnt = $(@(Model.Id)ListId);
        debugger;
        if ('@Model.IsServerSide' == "True") {
            $.ajax({
                type: 'POST',
                url: SourceUrl@(Model.Id),
                success: function (data) {
                    List = data;
                    var option = "<option value='{0}'>{1}</option>";
                    var selectElemnt = $(@(Model.Id)ListId);
                    for (var i = 0; i < List.length; i++) {
                        $(selectElemnt).append(option.format(List.id, List.value));
                    }
                 @(Model.Id)_Init();
                }
            });
        } else {
            if (typeof('@Model.ClintSideResourceFunction') != "undefined") {
                List = eval('fillPreRequisitesList()');
                  for (var i = 0; i < List.length; i++) {
                      $(selectElemnt).append(option.format(List.id, List.text));

                }
                 @(Model.Id)_Init(List);

            }
        }


    }

    function @(Model.Id)_Init(List) {

                $(@(Model.Id)ListId).select2({
                    data: List, escapeMarkup: function (markup) {

                        return markup;
                    }

            ,
                    templateResult: function (data) {

                        return data.html;
                    },
                    templateSelection: function (data) {

                        return data.text;
                    },multiple:true
                });

    }

</script>


<div id="@(Model.Id)Div">
    <div id="@(Model.Id)P">
        <select id="Select2_@(Model.Id)List" name="Select2.@(Model.Id)List" class="js-example-theme-multiple js-states form-control select2-hidden-accessible multiselect2jq" style="width: 460px;" multiple="" tabindex="-1" aria-hidden="true"></select>
    </div>
</div>


