@{
    ViewBag.Title = Html.GetResource("FloorPrices", "SSPFloorPrices");
    Layout = "~/Views/Partner/IndexMasterNoSearch.cshtml";
}
@model ArabyAds.AdFalcon.Web.Controllers.Model.BusinessPartners.FloorPriceListViewModel

@section subheader
   {

    <div class="data-row sub-header">
        <div class="sub-header-left">
        </div>
        <div class="sub-header-center iea-sub-header-width">
            <div class="data-row">
                <div class="floating-left iea-go-right sub-header-item-container objective-header">
                    <div class="sub-header-title">
                        @Html.GetResource("SSPPartners", "SiteMapLocalizations")
                    </div>
                    <div class="sub-header-text">
                        @Model.BusinessName
                    </div>
                </div>
                <div class="floating-left iea-go-right sub-header-item-container objective-header">
                    <div class="sub-header-title">
                        @Html.GetResource("SSPSites", "SiteMapLocalizations")
                    </div>
                    <div class="sub-header-text">
                        @Model.SiteName : @Model.SiteIdStr

                    </div>
                </div>
                <div class="floating-left iea-go-right sub-header-item-container objective-header">
                    <div class="sub-header-title">
                        @Html.GetResource("SSZone", "SiteMapLocalizations")
                    </div>
                    <div class="sub-header-text">
                        @Model.ZoneName : @Model.ZoneIdStr

                    </div>
                </div>
            </div>
        </div>
        <div class="sub-header-right">
        </div>
    </div>





}
@section Grid1 {



    <div class="data-row data-container" id="floorPriceDiv">

        <div class="label-container">
            <span class="field-title ">@Html.GetResource("BasePrice", "SSPFloorPrices") </span>
        </div>
        <div class="field-container">
            @Html.AdFalconTextBox("BasePrice", Model.BaseId > 0 ? Model.Price.ToString("F3") : string.Empty, new { maskType = "decimal", title = @Html.GetResource("InvalidAdGroupDailyBudget", "Campaign"), onchange = "onbidchange(this)", onkeypress = "onbidpress(event,this)" })

            <input type="button" value="@Html.GetResource("UpdateBasePrice", "SSPFloorPrices")" name="updateBasePrice2" class="primary-btn" onclick="updateBasePrice()" />
        </div>




    </div>

    <script type="text/javascript">
        var FloorPriceBaseSave_URL = '@Url.Action("FloorPriceBaseSave")';
        var BasePriceUpdateValueMessage = '@Html.GetResource("UpdateBasePriceSuccessfully", "SSPFloorPrices")';
    var BasePriceId = '@Model.BaseId';
        function updateBasePrice(){
            var basePrice = $('#BasePrice').val();
            if ($('#BasePrice').val()=='')
            {
                $('#BasePrice').val('0.000');

            }



            var prams = new Object();

            prams.Price = basePrice;
            prams.BaseId = BasePriceId;
            prams.ZoneID = '@Model.ZoneId';
            prams.SiteID = '@Model.SiteId';

            prams = jQuery.toJSON(prams);
            jQuery.ajax(
                {
                    dataType: "json",
                    contentType: 'application/json; charset=utf-8',
                    type: "POST",
                    data: prams,
                    url: FloorPriceBaseSave_URL,
                    success: function (result) {
                        showSuccessfullyMessage(BasePriceUpdateValueMessage, false);

                        if (result.basePriceId) {

                            //$("#floorPriceDiv").show();
                            BasePriceId = result.basePriceId;
                        }

                    },
                    error: function (error) {
                        if (error.status == "200") {
                            console.log("error");
                        }
                    }
                });
        }
    </script>

    @(Html.Kendo().Grid<ArabyAds.AdFalcon.Services.Interfaces.DTOs.Account.SSP.FloorPriceConfigDto>()
                        .Name("Grid")
                        .Columns(columns =>
                        {
                            columns.Template("<input type='checkbox' name='checkedRecords' value='#= ID #' />").Width(36).HtmlAttributes(new { style = "text-align:center" });


                            columns.Bound(o => o.BidConfigType).Title(Html.GetResource("FloorPriceType", "SSPFloorPrices")).Width(250)
                                .ClientTemplate("<div class='grid-title-container floating-left'>#= BidConfigType#</div><div class='grid-cogwheel-container floating-right go-right'> <div class='cogwheel' item_extra_info=\"#= BidConfigType#\" onclick='showGridToolTip(#= ID#,this)'><a href='javaScript:void(0);' >&nbsp</a></div></div>");
                            columns.Bound(o => o.TargetingName).Title(Html.GetResource("TargetingName", "SSPFloorPrices")).Width(50).HtmlAttributes(new { @class = "go-center" });

                            columns.Bound(o => o.Price).Title(Html.GetResource("FloorPrice", "SSPFloorPrices")).Width(50).HtmlAttributes(new { @class = "go-center" })
                             .ClientTemplate("#= Price#");

                        }).EnableCustomBinding(true)
                        .DataSource(dataBinding =>
                        {

                            dataBinding.Ajax().Read(read => read.Action("_FloorPrices", "Partner",new {  SiteId=ViewContext.RouteData.Values["SiteId"],Id= ViewContext.RouteData.Values["Id"] }).Data("BusinessPartnersGridData")).PageSize(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.PageSize);

                        })
                        .Events(clientEvents => clientEvents.DataBinding("BusinessPartnersGridDataBinding").DataBound("BusinessPartnersGridDataBound"))
                        .Scrollable(scrolling => scrolling.Enabled(false))
                        .Selectable().Pageable(paging => paging


            .Input(false)
            .Numeric(true)
            .Info(true)
            .PreviousNext(true)
            .Refresh(true)

            .Position(GridPagerPosition.Bottom)).Filterable(filtering => filtering.Enabled(false))
            .Groupable(grouping => grouping.Enabled(false)))


    <br />
    <br />
}





