@{
    ViewBag.Title = Html.GetResource("AccountSettings", "Titles");
}
@using ArabyAds.AdFalcon.Domain.Common.Model.Account.Discount
@using ArabyAds.AdFalcon.Web.Controllers.Utilities
@model ArabyAds.AdFalcon.Services.Interfaces.DTOs.Account.Discount.AccountSettingDto
@using (Html.BeginForm())
{
    @Html.HiddenFor(p => p.AccountId)
    <h2>
        @Html.GetResource("AccountSettings", "Titles")
    </h2>


    <div class="section-form-container">
		<div class="section-form-inner-container">
			@if ((ArabyAds.Framework.OperationContext.Current.UserInfo
			<ArabyAds.AdFalcon.Common.UserInfo.AdFalconUserInfo>
				().AccountRole == (int)ArabyAds.AdFalcon.Domain.Common.Model.Account.AccountRole.DSP))
			{
				<div class="data-row data-container">
					<div class="label-container required-field">
						<span class="field-title ">@Html.GetResource("RevenuePercentage", "AccountSettings")</span>
					</div>
					<div class="field-container">
						<span class="small-big-field">
							@Html.AdFalconTextBox("RevenuePercentage", Model == null || !Model.RevenuePercentage.HasValue ? string.Empty : Model.RevenuePercentage.Value.ToString(), new { maskType = "Int" })
						</span>
						<span class="side-text">%</span><span style="display: inline-block; margin-left: 17px;
                        margin-right: 17px;">@Html.AdFalconValidationMessageFor(p => p.RevenuePercentage)</span><span class="data-row guid-text go-left iea-go-right">(@(string.Format(Html.GetResource("DefaultRevenuePercentage", "AccountSettings"), Config.DefaultRevenuePercentage))</span>
					</div>
				</div>
				<div class="data-row data-container">
					<div class="label-container required-field">
						<span class="field-title ">@Html.GetResource("Discount", "AccountSettings")</span>
					</div>
					<div class="field-container">
						<span class="small-big-field">
							@Html.AdFalconTextBox("Discount", Model == null || !Model.Discount.HasValue ? string.Empty : Model.Discount.Value.ToString(), new { maskType = "Int" })
						</span><span class="side-text">%</span><span style="display: inline-block; margin-left: 17px;
                                                                                    margin-right: 17px;">@Html.AdFalconValidationMessageFor(p => p.Discount)</span>
																				</div>
																			</div>
																		}

			<div class="data-row data-container">
				<div class="label-container required-field">
					<span class="field-title ">@Html.GetResource("OverDraft", "AccountSettings")</span>
				</div>
				<div class="field-container">
					<span class="small-big-field">
						@Html.AdFalconTextBox("OverDraft", Model.OverDraft.ToString("F2"), new { maskType = "decimal" })
					</span><span class="side-text">$</span><span style="display: inline-block; margin-left: 17px; margin-right: 17px;">@Html.AdFalconValidationMessageFor(p => p.OverDraft)</span>
				</div>
			</div>
			@if ((ArabyAds.Framework.OperationContext.Current.UserInfo
<ArabyAds.AdFalcon.Common.UserInfo.AdFalconUserInfo>
().AccountRole == (int)ArabyAds.AdFalcon.Domain.Common.Model.Account.AccountRole.DSP))
			{
				<div class="data-row data-container">

					<div class="label-container required-field">
						<span class="field-title required-field ">@Html.GetResource("AgencyCommission", "Global")</span>

					</div>
					

					<div class="field-container">

						@{

							var isunCPMSelected = (int)Model.AgencyCommission == 0 ? "selected" : "";
							var isFixedCPMSelected = (int)Model.AgencyCommission == 1 ? "selected" : "";
							var isNetCostMarginSelected = (int)Model.AgencyCommission == 2 ? "selected" : "";
							var isBillableCostMarginSelected = (int)Model.AgencyCommission == 3 ? "selected" : "";
							var isGrossCostMarginSelected = (int)Model.AgencyCommission == 4 ? "selected" : "";
						}
						<select id="selectAgencyCommission" name="AgencyCommission" onchange="OnChangeAgencyCommissionChanged()">
							<option value="0" @isunCPMSelected>@Html.GetResource("Select", "Global")</option>
							<option value="1" @isFixedCPMSelected>@Html.GetResource("FixedCPM", "Global")</option>
							<option value="2" @isNetCostMarginSelected>@Html.GetResource("NetCostMargin", "Global")</option>
							<option value="3" @isBillableCostMarginSelected>@Html.GetResource("BillableCostMargin", "Global")</option>
							<option value="4" @isGrossCostMarginSelected>@Html.GetResource("GrossCostMargin", "Global")</option>
						</select>


					</div>
				</div>



				<div class="data-row data-container" id="AgencyCommissionValueSec" style="display:@((int)Model.AgencyCommission!=0 ? "block" : "none")">
					<div class="label-container required-field">
						<span class="field-title ">@Html.GetResource("AgencyCommissionValue", "Global")</span>
					</div>
					<div class="field-container">
						<span class="small-big-field">
							@Html.AdFalconTextBox("AgencyCommissionValue", Model.AgencyCommissionValue.ToString("F2"), new { maskType = "decimal", @onkeypress = "OnKeyPressCommissionValue(event,this)", @onchange = "OnChangeCommissionValue(this)" })
						</span><span class="side-text" id="textForAgencyCommissionValue">@((int)Model.AgencyCommission == 1 ?'$':'%')</span>
						<span id="AgencyCommissionValueErorMassege" class="validation-arrow field-validation-error errorEnteredFees"
							  style="display: none;margin-left:15px;"><span class="">@Html.GetResource("RequiredMessage", "ResourceSet")</span></span>


						</div>
				</div>
			}
			@if ((ArabyAds.Framework.OperationContext.Current.UserInfo
		<ArabyAds.AdFalcon.Common.UserInfo.AdFalconUserInfo>
			().AccountRole != (int)ArabyAds.AdFalcon.Domain.Common.Model.Account.AccountRole.DSP))
			{
				<div class="data-row data-container">
					<div class="label-container">
						<span class="field-title required-field">&nbsp;</span>
					</div>
					<div class="field-container">
						@Html.GetCheckBox("AllowAPIAccess", Html.GetResource("AllowAPIAccess", "AccountSettings"), Model.AllowAPIAccess)
					</div>
				</div>

			}
		</div>
        <br />
    </div>
    <div class="section-footer">
    </div>
    <div class="data-row button-container">
        <input type="submit" name="Settings" value='@Html.GetResource("Save", "Commands")' class="primary-btn" />
    </div>
}