@{
    ViewBag.Title = Html.GetResource("CLoseTransaction", "Titles");
}
@model Noqoush.AdFalcon.Web.Controllers.Model.Pgw.ReceiptViewModel
<style>
    #breadcrumb a.btn#BreadCrum1 {
        padding-left: 30px !important;
    }
</style>
<div class="data-row section-container">
    <h2>@Html.GetResource("CLoseTransaction", "Titles")</h2>
    <div class="section-form-container">
        <div class="data-row info-container">
            <div class="data-row data-container">
                <div class="label-container">
                    <span class="field-title required-field">@Html.GetResource("TransactionDate", "AccountHistory")</span>
                </div>
                <div class="field-container">
                    <span class="side-text">@Html.DisplayFor(p => p.TransactionDate)</span>
                </div>
            </div>
            <div class="data-row data-container">
                <div class="label-container">
                    <span class="field-title required-field">@Html.GetResource("ReceiptNumber", "AccountHistory")</span>
                </div>
                <div class="field-container">
                    <span class="side-text">@Html.DisplayFor(p => p.ReceiptNo)</span>
                </div>
            </div>
            <div class="data-row data-container">
                <div class="label-container">
                    <span class="field-title required-field">@Html.GetResource("Amount", "AccountHistory")</span>
                </div>
                <div class="field-container">
                    <span class="side-text">@Html.DisplayFor(p => p.Amount)</span>
                </div>
            </div>
            @if ((Model != null) && (!string.IsNullOrWhiteSpace(Model.Message)) && (!Model.Message.Equals(Html.GetResource("Unknown", "PGW"), StringComparison.OrdinalIgnoreCase)))
            {
                <div class="data-row data-container">
                    <div class="label-container">
                        <span class="field-title required-field">@Html.GetResource("Message", "AccountHistory")</span>
                    </div>
                    <div class="field-container">
                        <span class="side-text">@Html.DisplayFor(p => p.Message)</span>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="section-footer">
    </div>
    <div class="data-row button-container">
        <input type="button" value='@Html.GetResource("PayAgain", "Commands")' class="primary-btn btn" onclick=" redirect('@Url.Action("adfundPGW", "User")')" /><input type="button" value='@Html.GetResource("Close", "Commands")' class="btn" onclick=" redirect('@Url.Action("AccountHistory", "User")')" />
    </div>
</div>
