@model Noqoush.AdFalcon.Web.Controllers.Model.ResetPasswordInfo
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/MasterLayouts/Inner.cshtml";
}


<style>
    #breadcrumb a.btn#BreadCrum1 {
        padding-left: 30px !important;
    }
    .field-validation-error{
        margin-top:5px;
    }
</style>


@using (Html.BeginForm("ResetPassword" ,"User", FormMethod.Post))
{

    <div class="section-form-inner-container last-container">
        <div class="data-row login-area-container forget-password">
            <div class="box-content">
                <h3>@Html.GetResource("ResetPassword", "Forgetpassword")</h3>
                <div class="login-form-container">
                    <div class="text-boxes-pass-container">
                        <div class="form-group">
                            <label>
                                <span class="field-title required-field">@Html.GetResource("NewPassword", "Forgetpassword")</span>
                            </label>
                            <div>
                                @Html.AdFalconPasswordFor(p => p.Password, new { Class = "form-control" })
                                @Html.AdFalconValidationMessageFor(p => p.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <label>
                                <span class="field-title required-field">@Html.GetResource("ConfirmPassword", "Global")</span>
                            </label>
                            <div>
                                @Html.AdFalconPasswordFor(p => p.ConfirmPassword, new { Class = "form-control" })
                                @Html.AdFalconValidationMessageFor(p => p.ConfirmPassword)
                            </div>
                        </div>
                    </div>



                    <div class="field-container">
                        <div class="data-row go-bold new-account">
                            <input value="@Html.GetResource("Save", "Commands")" type="submit" class="primary-btn" />

                            @*<input value="@Html.GetResource("Login", "Titles")" type="button" onclick="window.location = '@loginUrl';" class="pkrimary-btn" />*@
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(m => m.Token)
}