@using Noqoush.AdFalcon.Services.Interfaces.DTOs.AppSite
@using Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign
@using Noqoush.AdFalcon.Services.Interfaces.DTOs.Core
@using Noqoush.AdFalcon.Services.Interfaces.DTOs.Reports
@{
    
    List<CampaignListDto> campaigns = ViewData["Campaigns"] as List<CampaignListDto>;
    List<SelectListItem> campaignsList = new List<SelectListItem>();

    foreach (var campaign in campaigns)
    {
        SelectListItem item = new SelectListItem();
        item.Value = campaign.Id.ToString();
        item.Text = campaign.Name;
        campaignsList.Add(item);
    }

    SelectListItem allItem = new SelectListItem();
    allItem.Value = "";
    allItem.Selected = true;
    allItem.Text = Html.GetResource("AllCampaigns", "AdChart");

    campaignsList.Add(allItem);

    List<SelectListItem> periodListItem = new List<SelectListItem>()
    {
      new SelectListItem()
      {
        Value = "0",
        Text = Html.GetResource("Today","Chart"),
        Selected = true   
      } ,
      new SelectListItem()
      {
        Value = "1",
        Text = Html.GetResource("Yesterday","Chart"),
      },
      new SelectListItem()
      {
        Value = "2",
        Text = Html.GetResource("OneWeek","Chart"),
      },
      
      new SelectListItem()
      {
        Value = "3",
        Text = Html.GetResource("OneMonth","Chart"),
      },
       new SelectListItem()
      {
        Value = "4",
        Text = Html.GetResource("LastMonth","Chart"),
      }         
    };

    SelectListItem optionalItem = new SelectListItem();
    optionalItem.Value = "";
    optionalItem.Text = Html.GetResource("ByCountry", "Chart");

    Noqoush.AdFalcon.Services.Interfaces.Services.ICountryService countryService = Noqoush.Framework.IoC.Instance.Resolve<Noqoush.AdFalcon.Services.Interfaces.Services.ICountryService>();
    List<SelectListItem> countriesList = new List<SelectListItem>();
    countriesList.Add(optionalItem);

    List<Noqoush.AdFalcon.Services.Interfaces.DTOs.Core.CountryDto> countriesDtos = countryService.GetAll().OrderBy(p => p.Name.Value).ToList();

    foreach (var item in countriesDtos)
    {
        var selectItem = new SelectListItem();
        selectItem.Value = item.ID.ToString();
        selectItem.Text = item.Name.ToString();
        countriesList.Add(selectItem);
    }
}
   <div class="data-row sub-header">
        <div class="sub-header-left">
        </div>
        <div class="sub-header-center">
            <div class="data-row">
                <div class="floating-left iea-go-left sub-header-item-container objective-header">
                    <div class="sub-header-title">
                      @Html.GetResource("TodaySpend","Dashboard").ToString()
                    </div>
                    <div class="sub-header-text">
                        @ViewData["totalDaySpend"] 
                    </div>
                </div>
                
            </div>
        </div>
        <div class="sub-header-right">
        </div>
    </div>
   <div class="data-row section-container">
   	<br />
   	<div class="dashboard-left-side">
   		<div class="data-row data-container">
   			<div class="label-container">
   				<span class="field-title required-field">@Html.GetResource("AdTitle", "AdChart")</span>
   </div>
   <div class="field-container">
   	@Html.AdFalconDropDownList("list", campaignsList, new { onchange = "getChartImage();fillGrid();" })
   </div>
   </div>
   <div class="data-row data-container">
   	<div class="label-container">
   		<span class="field-title required-field">@Html.GetResource("Period", "Chart")</span>
   </div>
   <div class="field-container">
   	@Html.AdFalconDropDownList("period", periodListItem, new { onchange = "getChartImage();fillGrid();" })
   </div>
   </div>
   </div>

   <div class="dashboard-left-side floating-left">
   	<div class="data-row" id="chartContainer">
   		<img id="chartImage" class="chartImage" src="@Url.Action("chartcontrol", "dashboard", new { periodOption = 0, type = "ad", Id = "", metricCode = (ViewData["Metrics"] as List<MetricDto>).First().Code })" />
   	</div>
   </div>
   <div class="dashboard-right-side floating-left">
   	<div class="grid-container data-row">
   		@(Html.Telerik().Grid((ViewData["Metrics"] as List<MetricDto>))
										.Name("Metrics").Columns(columns =>
											 {
												 columns.Bound(p => p.Name).Template(p => Html.GetRadioButton("metric", "&nbsp;" + p.Name + "&nbsp;", false, "", "getChartImage", p.Code)).Title(Html.GetResource("Name", "Global"));
												 columns.Bound("").Template(p => "<div class='colored-box' style='background-color:" + p.Color + "'></div>").Width(20);
											 })
											 .Footer(false))
   </div>
   </div>
   @Html.RegisterScriptBlock(string.Format("var chartControlImageSrc='{0}'", Url.Action("ChartControl", "dashboard", new { type = "ad" })))
   @*@Html.Hidden("AdvertiserId", "")
   @Html.Hidden("AccountAdvertiserId", this.ViewContext.RouteData.Values["id"])*@
   <div class="data-row">
   	&nbsp;
   </div>
   <div class="data-row section-container">
   	<div class="data-container floating-right dashboard-filter-container">
   		<div class="label-container">
   			<span class="field-title required-field">@Html.GetResource("CountryFilter", "AppChart")</span>
   </div>
   <div class="field-container">
   	@Html.AdFalconDropDownList("country", countriesList.ToList(), new { onchange = "fillGrid();" })
   </div>
   </div>
   <h3>@Html.GetResource("ByGeoLocation", "Chart")</h3>
   <div class="grid-container data-row">
   	@(Html.Telerik().Grid((ViewData["AdGeoLocation"] as List<AdGeoLocationDto>))
									.Name("GeoLocationGrid")
							.Columns(columns =>
										 {
											 columns.Bound(o => o.CountryName).Title(Html.GetResource("CountryName", "AppChart"));
											 columns.Bound(o => o.CampaignName).Title(Html.GetResource("CampaignName", "AdChart"));
											 columns.Bound(o => o.Impress).Title(Html.GetResource("Impress", "AdChart"));
											 columns.Bound(o => o.Clicks).Title(Html.GetResource("Clicks", "AdChart"));
											 columns.Bound(o => o.CtrText).Title(Html.GetResource("CTR", "AdChart"));
											 columns.Bound(o => o.AvgCPCText).Title(Html.GetResource("AvgCPC", "AdChart"));
											 columns.Bound(o => o.SpendText).Title(Html.GetResource("Spend", "AdChart"));
										 })
							.DataBinding(dataBinding =>
							{
								dataBinding.Ajax().Select("AdGeoLocation", "dashboard");

							})
								.Scrollable(scrolling => scrolling.Enabled(false))
								.EnableCustomBinding(true)
											  .Pageable(paging => paging.PageSize(Noqoush.AdFalcon.Web.Controllers.Utilities.Config.PageSize).Total(int.Parse(ViewData["total"].ToString())).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
													  .Groupable(grouping => grouping.Enabled(false)).Footer(true).ClientEvents(p => p.OnDataBinding("geoLocationDataBinding")))
   </div>
   @Html.RegisterScriptBlock(string.Format("var exportUrl='{0}'", Url.Action("AdGeoLocationExport", "dashboard")))
   <div class="data-row">
   	<a href="javascript:void(0)" onclick='geoLocationExport("excel")' class="export-icon-excel floating-left" title="Download as Excel">
   	</a><a href="javascript:void(0)" onclick='geoLocationExport("csv")' class="export-icon-cvs floating-left" title="Download as CSV">
   	</a><a href="javascript:void(0)" onclick='geoLocationExport("pdf")' class="export-icon-pdf floating-left" title="Download as PDF">
   	</a>
   </div>
   <br />
   <div class="data-row section-container">
   	<h3>@Html.GetResource("AdPerformanceTitle", "AdChart")</h3>
   @Html.Action("adperformance", "dashboard")
   </div>
   </div>
   </div>
    <script type="text/javascript">
        $(document).ready(function () {
            radioBox($("[name=metriccontainer]")[0]);
        });
    </script>
