@{
    var sp = "|";
if (Noqoush.Framework.OperationContext.Current.CurrentPrincipal.Identity.IsAuthenticated)
{
   
     string name = Noqoush.Framework.OperationContext.Current.UserInfo<Noqoush.Framework.UserInfo.IUserInfo>().FirstName + " " + Noqoush.Framework.OperationContext.Current.UserInfo<Noqoush.Framework.UserInfo.IUserInfo>().LastName;
            @name
        <a href="../@Noqoush.AdFalcon.Web.Controllers.Utilities.Config.CurrentLanguage/dashboard/index?charttype=ad" class="reverse-link">@Html.GetResource("MyAccount")</a> @sp



        @*<ul id="menu-nav">
            <li>
                <a href="javascript:void(0)" onclick="logout();">@Html.GetResource("Logout", "UserInformation")</a>
                <ul class="dropdownAdFalcon">
                    <li>@Html.ActionLink(Html.GetResource("IndexReportsJob", "Menu").ToString(), "IndexReportsJob", "reports", new { reportType = "ad" }, null)</li>
                </ul>
             </li>
        
        </ul>*@
    }
    else
    {
        sp = " - ";
            @Html.ActionLink(Html.GetResource("Register", "UserInformation"), "register", "user", null) @sp @(Html.ActionLink(Html.GetResource("Login", "UserInformation"), "login", "user"))
            }
            }
