@{
	ViewBag.Title = Model.CampaignName + " : " + Html.GetResource("CampaignAdGroups", "SiteMapLocalizations");
	Layout = "~/Views/Campaign/IndexMaster.cshtml";
}
@model Noqoush.AdFalcon.Web.Controllers.Model.Campaign.AdGroupListViewModel
@Html.Partial("GridToolTop", Model.ToolTips)
@section subheader
   {
	<div class="data-row sub-header">
		<div class="sub-header-left">
		</div>
		<div class="sub-header-center">
			<div class="data-row">
				<div class="floating-left iea-go-left sub-header-item-container ">
					<div class="sub-header-title">
						@Html.GetResource("Impressions", "Campaign")
					</div>
					<div class="sub-header-text">

						@Html.FormatNumber(Model.Performance.Impress)

					</div>
				</div>
				<div class="floating-left iea-go-left sub-header-item-container">
					<div class="sub-header-title">
						@Html.GetResource("Clicks", "Campaign")
					</div>
					<div class="sub-header-text">
						@Html.FormatNumber(Model.Performance.Clicks)
					</div>
				</div>
				<div class="floating-left iea-go-left sub-header-item-container">
					<div class="sub-header-title">
						@Html.GetResource("CTR", "Campaign")
					</div>
					<div class="sub-header-text">

						@Model.Performance.CtrText
					</div>
				</div>
			</div>
		</div>
		<div class="sub-header-right">
		</div>
	</div>
}
@section Grid1 {
	<style>

		.t-header {
			white-space: unset !important;
		}
	</style>
	@(Html.Telerik().Grid(Model.Items)
											.Name("Grid")
											.Columns(columns =>
														 {
														
																columns.Template(
															@<text>
																@{
																					if (Model.PreventEdit)
																					{
																		<input name="checkedRecords" type="checkbox" value="@item.Id" disabled title="checkedRecords" />

																					}
																					else
																					{
																		<input name="checkedRecords" type="checkbox" value="@item.Id" title="checkedRecords" />

																					}

																}
															</text>)
																									 .Title("").Width(36).HtmlAttributes(new { style = "text-align:center" })
																									 .ClientTemplate("<input type='checkbox' name='checkedRecords' value='<#= Id #>' />");
																		 columns.Bound(o => o.Name).Template(
													@<text><div class="grid-title-container floating-left">
															<span class="trimed-span">
																<a href='@Url.Action("Ads", "Campaign", new {id = Model.CampaignId, adGroupId = @item.Id  }, null)' title='@item.Name'>
																	@item.Name
																</a>
															</span>
														</div><div class="grid-cogwheel-container floating-right go-right">
															<div class='cogwheel' item_extra_info="@item.Name" onclick='showGridToolTip(@item.Id,this)'>
																<a href='javaScript:void(0);'>&nbsp</a>
															</div>
														</div>
													</text>
							)
							.ClientTemplate("<div class='grid-title-container floating-left'><a href=\"" + Url.Action("Ads", "Campaign") + "/" + Model.CampaignId + "/<#= Id#>\"><#= Name#></a> </div><div class='grid-cogwheel-container floating-right go-right'> <div class='cogwheel' item_extra_info=\"<#= Name#>\" onclick='showGridToolTip(<#= Id#>,this)'><a href='javaScript:void(0);' >&nbsp</a>&nbsp</a></div></div>")
							.Title(Html.GetResource("Name", "AdGroup")).Width(300);
															 columns.Bound(o => o.CreationDate).Title(Html.GetResource("CreationDate", "Campaign")).Format("{0:" + Noqoush.AdFalcon.Web.Controllers.Utilities.Config.ShortDateFormat + "}").Width(75).HtmlAttributes(new { @class = "go-center" });
															 columns.Bound(o => o.Status).Title(Html.GetResource("Status")).Width(60);
															 columns.Bound(o => o.DiscountedBid).Format("${0:0.00}").Title(Html.GetResource("Bid", "Campaign")).Width(50).HtmlAttributes(new { @class = "go-center" });
															 columns.Bound(o => o.Performance.ImpUniqueImp).Template( @<text>@item.Performance.ImpressString <span>/ </span><span style="color:gray">@item.Performance.UniqueImpString</span> </text>).ClientTemplate("<#=Performance.ImpressString#> <span>/ </span><span  style='color: gray'><#=Performance.UniqueImpString#> </span>").Title(Html.GetResource("ImpressionsUniqueImp", "Campaign")).Width(55).HtmlAttributes(new { @class = "go-center" });
																		columns.Bound(o => o.Performance.ClicksUniqueClicks).Template( @<text>@item.Performance.ClicksString <span>/ </span><span style="color:gray">@item.Performance.UniqueClicksString</span> </text>).ClientTemplate("<#=Performance.ClicksString#> <span>/ </span><span  style='color: gray'><#=Performance.UniqueClicksString#> </span>").Title(Html.GetResource("ClicksUniqueClicks", "Campaign")).Width(55).HtmlAttributes(new { @class = "go-center" });

																					columns.Bound(o => o.Performance.CtrText).Title(Html.GetResource("CTR", "Campaign")).Width(50).HtmlAttributes(new { @class = "go-center" });
																					columns.Bound(o => o.Performance.AvgCPCText).Title(Html.GetResource("AvgCPC", "Campaign")).Width(50).HtmlAttributes(new { @class = "go-center" });
																					if (Noqoush.Framework.OperationContext.Current.UserInfo

	<Noqoush.AdFalcon.Common.UserInfo.AdFalconUserInfo>
		().AccountRole == 8)
		{
		columns.Bound(o => o.Performance.AdjustedNetCostText).Title(Html.GetResource("NetCost", "Global")).Width(45).HtmlAttributes(new { @class = "go-center" });
		columns.Bound(o => o.Performance.GrossCostText).Title(Html.GetResource("GrossCost", "Global")).Width(50).HtmlAttributes(new { @class = "go-center" });
		columns.Bound(o => o.Performance.BillableCostText).Title(Html.GetResource("BillableCost", "Global")).Width(50).HtmlAttributes(new { @class = "go-center" });

		}
		else
		{
		columns.Bound(o => o.Performance.BillableCostText).Title(Html.GetResource("BillableCost", "Global")).Width(65).HtmlAttributes(new { @class = "go-center" });
		}
}).EnableCustomBinding(true)
																						   .DataBinding(dataBinding =>
																						   {
																			   //dataBinding.Server().Select("Groups", "Campaign", new { ajax = true });
																			   dataBinding.Ajax().Select("_Groups", "Campaign");

																						   })
																							   .ClientEvents(clientEvents => clientEvents.OnDataBinding("campaignGridDataBinding").OnDataBound("campaignGridDataBound").OnRowDataBound("onRowDataBound"))
																							   .Scrollable(scrolling => scrolling.Enabled(false))
																							   .Selectable().Pageable(paging => paging.PageSize(Noqoush.AdFalcon.Web.Controllers.Utilities.Config.PageSize)
																													.Total(int.Parse(ViewData["total"].ToString()))
																													.Style(GridPagerStyles.NextPreviousAndNumeric)
																													.Position(GridPagerPosition.Bottom))
																							   .Filterable(filtering => filtering.Enabled(false))
																							   .Groupable(grouping => grouping.Enabled(true)).Footer(true))
}
