@{
    ViewBag.Title = Html.GetResource("AdCreation", "Titles");
}
@using Noqoush.AdFalcon.Domain.Common.Model.Campaign
@using Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative
@using Noqoush.AdFalcon.Web.Controllers.Model.Campaign
@model Noqoush.AdFalcon.Web.Controllers.Model.Campaign.CreativeViewModel
<script type="text/javascript" language="javascript">
    var maxAdTextLength = 40;
    var isNew =@(Model.AdCreativeDto == null || Model.AdCreativeDto.ID < 1 ? "true" : "false");
    var isGroupPaused = @(Model.AdCreativeDto.IsAllAdsPaused ? "true" : "false");
    var PartialBannerMsg = '@Html.GetResource("PartialBannerBR")';
    var RequiredBannerMsg = '@Html.GetResource("RequiredBannerBR")';
	var adsMoreThanMinBidDMsg = '@Html.GetResource("MinBidErrMsg")';
		var MinBidErrorLess = '@Html.GetResource("MinBidErrorLess")';
    var tileImageMissingBRMsg = '@Html.GetResource("TileImageMissingBR")';
    var minBid = @Model.AdCreativeDto.MinBid;
    var discountedBidDesc = '@Html.GetResource("DiscountedBidDesc", "Campaign")';
    var has_discount = @((Model.DiscountDto != null).ToString().ToLower());
    var discount_value = @(Model.DiscountDto != null ? Model.DiscountDto.Value : 0);
    var discount_type = @(Model.DiscountDto != null ? Model.DiscountDto.TypeId : 0);
    var remainingCharactersMsg = ' @Html.GetResource("remainingCharacters", "Campaign") ';
    var close_text = '@Html.GetResource("Close")';
    var yes_text = '@Html.GetResource("Yes")';
    var no_text = '@Html.GetResource("No")';
</script>
@using (Html.BeginForm())
{
    RouteData routeData = RouteTable.Routes.GetRouteData(new HttpContextWrapper(System.Web.HttpContext.Current));
    @Html.Hidden("AdTypeId", (int)Model.AdCreativeDto.TypeId);
    
    @Html.Hidden("AdBannerTypeId", Model.AdCreativeDto.AdBannerType.HasValue ? (int)Model.AdCreativeDto.AdBannerType : (int?)null);
    @Html.Hidden("TileImage", Model.AdCreativeDto.TileImageId);
    @Html.HiddenFor(p => p.AdCreativeDto.IsAdPaused);
    <div id="dialog-form" title="@Html.GetResource("Preview")" style="display: none;">
        <div class="tablet-bg">
            <img id="imgPreview" />
        </div>
    </div>
    <div id="statusDialog-form" title="@Html.GetResource("PauseAdConfirmationTitle", "Campaign")" style="display: none; ">
        <div class="go-left data-row">
            @Html.GetResource("PauseAdConfirmation", "Campaign")
        </div>
    </div>
    <div class="data-row section-container">
        <br />
		<div class="data-row section-container">
			@Html.Partial("CreativeHouseAdSlider")
			<div class=" data-row ">
				<h2>
					@Html.GetResource("AdCreation", "Titles")
				</h2>
				<div class="section-form-container">
					<div class="section-form-inner-container info-container">
						<div class="data-row data-container">
							<div class="label-container">
								<span class="field-title required-field">@Html.GetResource("AdName", "Campaign")</span>
							</div>
							<div class="field-container">
								@Html.AdFalconEditorFor(p => p.AdCreativeDto.Name)
								@Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.Name)
							</div>
						</div>
						<div class="data-row data-container">
							<div class="label-container">
								<span class="field-title required-field campaign-upload">@Html.GetResource("AdText", "Campaign")</span>
							</div>
							<div class="field-container">
								@Html.AdFalconEditorFor(p => p.AdCreativeDto.AdText)@Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.AdText)
								<span id="remainingCharactersDesc" class="data-row guid-text go-left"></span>
							</div>
						</div>
						@Html.Partial("AdAction/" + Model.AdCreativeDto.ViewName)
						@if (Model.AdCreativeDto.ID < 1)
						{
							<div class="data-row data-container">
								<div class="label-container">
									<span class="field-title required-field">@Html.GetResource("EnvironmentType", "Campaign")</span>
								</div>
								<div class="field-container">
									<div class="data-row">
										@Html.AdFalconDropDownList("EnvironmentType", Model.EnvironmentTypes)
									</div>
								</div>
							</div>
							<div class="data-row data-container">
								<div class="label-container">
									<span class="field-title required-field">@Html.GetResource("OrientationType", "Campaign")</span>
								</div>
								<div class="field-container">
									<div class="data-row">
										@Html.AdFalconDropDownList("OrientationType", Model.OrientationTypes)
									</div>
								</div>
							</div>
							<div class="data-row data-container">
								<div class="label-container"><span class="field-title required-field">@Html.GetResource("RichMediaRequiredProtocol", "Campaign")</span></div>
								<div class="field-container">
									@Html.AdFalconDropDownList("RichMediaRequiredProtocol", Model.RichMediaRequiredProtocolsList)
								</div>
							</div>
							<div class="data-row data-container">
								<div class="label-container">
									<span class="field-title required-field">@Html.GetResource("AdType", "Campaign")</span>
								</div>
								<div class="field-container">
									<div class="data-row">
										@Html.AdFalconDropDownList("AdSubType", Model.AdSubTypes)
									</div>
								</div>
							</div>
							<div class="data-row data-container" id="deviceTypeDiv">
								<div class="label-container">
									<span class="field-title required-field">@Html.GetResource("AdBannerType", "Campaign")</span>
								</div>
								<div class="field-container">
									<div class="data-row">
										@Html.AdFalconDropDownList("AdBannerType", Model.AdBannerTypes)
									</div>
								</div>
							</div>
						}
						else
						{
							@Html.Hidden("AdSubType", (int)Model.AdCreativeDto.AdSubType)
							@Html.Hidden("AdBannerType", (int)Model.AdCreativeDto.AdBannerType)
							@Html.Hidden("EnvironmentType", (int)Model.AdCreativeDto.EnvironmentType)
							@Html.Hidden("OrientationType", (int)Model.AdCreativeDto.OrientationType)
							<div class="data-row data-container">
								<div class="label-container"><span class="field-title required-field">@Html.GetResource("RichMediaRequiredProtocol", "Campaign")</span></div>
								<div class="field-container">
									@Html.AdFalconDropDownList("RichMediaRequiredProtocol", Model.RichMediaRequiredProtocolsList)
								</div>
							</div>
						}
					</div>
					<h2>
						@Html.GetResource("Creative", "Campaign")
					</h2>
					@{
						var isShowed = "";
						var first = "";
						foreach (var adType in Model.CreativeUnitIds())
						{
							if (Model.AdCreativeDto.ID < 1)
							{
								isShowed = "";
								<div id="CreativeUnitContainer_@(adType)" @Html.Raw(first)>
									@if (Model.PhoneCreativeUnits.ContainsKey(adType))
									{
										<div name="PhoneBannersCreativeUnitContainer" @Html.Raw(isShowed)>
											@Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.PhoneCreativeUnits[adType], TypeId = AdTypeIds.RichMedia, AdSubType = (AdSubType)adType ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker })
										</div>
										isShowed = "style='display: none'";
									}

									@if (Model.TabletCreativeUnits.ContainsKey(adType))
									{
										<div name="TabletBannersCreativeUnitContainer" @Html.Raw(isShowed)>
											@Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.TabletCreativeUnits[adType], TypeId = AdTypeIds.RichMedia, AdSubType = (AdSubType)adType  ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker})
										</div>
									}
								</div>
							}
							else
							{
								if (Model.PhoneCreativeUnits.ContainsKey(adType))
								{
									<div name="PhoneBannersCreativeUnitContainer">
										@Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.PhoneCreativeUnits[adType], TypeId = AdTypeIds.RichMedia, AdSubType = (AdSubType)adType ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker })
									</div>
								}

								if (Model.TabletCreativeUnits.ContainsKey(adType))
								{
									<div name="TabletBannersCreativeUnitContainer">
										@Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.TabletCreativeUnits[adType], TypeId = AdTypeIds.RichMedia, AdSubType = (AdSubType)adType ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker })
									</div>
								}
							}
							first = "style='display: none'";
						}
					}
					<h2>
						@Html.GetResource("Bid", "Campaign")
					</h2>
					<div class="section-form-inner-container">
						<div class="data-row data-container">
							<div class="label-container">
								<span class="field-title required-field">@Html.GetResource("MinimalBid", "Campaign")</span>
							</div>
							<div class="field-container">
								<span class="side-text">@string.Format("{0:F2}", Model.AdCreativeDto.MinBid) $</span>
							</div>
						</div>
						<div class="data-row data-container">
							<div class="label-container">
								<span class="field-title required-field campaign-upload">@Html.GetResource("Bid", "Campaign")</span>
							</div>
							<div class="field-container">
								<span class="small-big-field">@Html.AdFalconTextBox("AdCreativeDto.Bid", Model == null || Model.AdCreativeDto == null ? string.Empty : Model.AdCreativeDto.Bid.ToString("F2"), new { maskType = "decimal" })</span>
								<span class="side-text">$</span>
								<span id="bidDiscounted" style="color: #E40685;" class="data-row guid-text go-left iea-go-right">@(!Model.DiscountedBid.HasValue || Model.AdCreativeDto.Bid == Model.DiscountedBid ? string.Empty : "(" + string.Format(Html.GetResource("DiscountedBidDesc", "Campaign"), Model.DiscountedBid.Value.ToString("F2")) + ")")</span>
								@Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.Bid)
							</div>
						</div>
					</div>
				</div>
				<div class="section-footer">
				</div>
			</div>
		</div>
        <div class="data-row button-container">
            <input type="submit" value="@Html.GetResource("Save", "Commands")" name="Create" class="save-button" onclick="return creativeUnitValidate();" />
            <input  type="button" value='@Html.GetResource("Close", "Commands")' class="btn" onclick="redirect('@(string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ? Url.Action("Ads", "Campaign", new { id = routeData.Values["id"], adGroupId = routeData.Values["adGroupId"] }) : Request.QueryString["returnUrl"])    ')"/>
        </div>
    </div>
}
