@{
    ViewBag.Title = Html.GetResource("AdvertisersTerms", "Titles");
}
<style>
    p {
        text-align: left;
    }

    li {
        text-align: left;
    }

    span {
        text-align: left;
    }
</style>

<h2>@Html.GetResource("TermsAndConditions", "UserAgreement")</h2>



<div class="section-form-container">
	<div style="overflow: scroll; max-height: 400px;">


		<div class="inner-text-container smaller-size">

			<P LANG="en-US" STYLE="margin-bottom: 0in; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				These terms and conditions,
				together with any other documents or materials referenced or
				incorporated herein (collectively, the &quot;Agreement&quot;)
				constitutes a binding agreement that governs your participation in
				the AdFalcon’s Demand Side Platform (“ADM”) operated by ArabyAds FZ-LLC (&quot;ArabyAds&quot;). As used in this
				Agreement, &quot;we&quot;, &quot;us&quot;, or &quot;our&quot; means
				ArabyAds, and &quot;you&quot; or &quot;your&quot; means the person or
				entity entering into this Agreement to participate in the ADM. Unless
				otherwise expressly agreed in writing by ArabyAds, the application of
				any other contract or conditions (including your own Terms and
				Conditions) is expressly excluded. ArabyAds reserves the right to
				change or amend terms of this Agreement any time, for any reason, or
				for no reason at all, at our sole discretion. The most recent version
				of this Agreement will be posted here. Although we might provide
				notice of material changes to this Agreement, it is your sole
				responsibility to keep yourself informed of any such changes or
				amendments. Should you object to any terms and conditions of this
				Agreement or any subsequent changes to this Agreement or become
				dissatisfied with us in any way, you should notify us three Business
				Days in advance in writing of your request to terminate your ADM
				account.
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Definition
						of Service
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				“<SPAN LANG="en-US">
					Services”, as used in this agreement,
					includes all services that ArabyAds makes available to you through
					AdFalcon’s Demand Side Platform (ADM),
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Limitation
						of Rights Granted
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds does not grant you any express or implied
					right or license (such as any right or license under any patents,
					trademarks, copyrights, or other proprietary or intellectual property
					rights) other than those expressly set forth in this agreement.
					ArabyAds (or its affiliated companies or licensors, as the case may
					be) retains all rights in and to the Services, including any
					enhancements. You have no rights in or to the Services beyond the
					limited right of access and use contemplated in this agreement.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Prohibited
						Usage
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You are prohibited from using the Services in any
					manner not expressly permitted under this agreement. For example, you
					are not permitted to:
				</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						access the Services using an anonymizing proxy;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						use a credit card to fund your account or pay fees without the
						authorization of the credit card holder;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						gain, or attempt to gain, access to the Services, or any portions of
						the Services, for which you are not authorized by ArabyAds;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						advertise anything illegal, engage in any illegal, deceptive or
						fraudulent business practice, or take any other action that could
						result in claims, fees, fines, penalties or other liability to
						ArabyAds or any of its affiliated companies, or to you;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						spread, or facilitate the spread of, any viruses, worms or other
						malicious computer programs that may damage, detrimentally interfere
						with, surreptitiously intercept or expropriate any system, data or
						information;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						infringe upon any party’s copyright, patent, trademark, trade
						secret or other intellectual property rights, or rights of publicity
						or privacy;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						license, sublicense, sell, resell, rent, lease, transfer, assign,
						distribute, time-share or otherwise commercially exploit or making
						available the Services, except as expressly contemplated herein;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						frame, or utilize framing techniques to enclose, any of ArabyAds’s
						trademarks, logos or other proprietary information (such as images,
						text, page layouts and forms);
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						use any robot, spider, other computer program, or manual process, to
						monitor or copy the Services, or any portion of the Services;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						scrape any ads that have been served using the Services, or use any
						other automated means of data extraction to access, query or
						otherwise collect any information related to ads that have been
						served using the Product;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						make any information derived from the Services available to others
						as a form of market research or competitive intelligence; or,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						do anything that could disable, over-burden or impair ArabyAds’s,
						or its partner’s, servers, or the proper operation of the Services
						(such as a denial-of-service attack).
					</P>
			</UL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					The above list is for illustrative purposes only
					and is not intended to provide an exhaustive list of prohibited
					activities. If you have any doubt as to whether your intended use of
					the Services is prohibited under this agreement, you should contact
					ArabyAds. Only written confirmation signed by an authorized ArabyAds
					officer is acceptable proof that your intended activity is permitted.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						User
						Account
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You warrant to ArabyAds that you have the full
					power, authority and legal capacity to enter into this agreement. If
					you are entering into this agreement on behalf of a corporation or
					other entity, you warrant to ArabyAds that: you have the full power,
					authority and legal capacity to enter into this agreement on behalf
					of such corporation or other entity; and, this agreement constitutes
					a legal, valid and binding obligation of such corporation or other
					entity.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You are responsible for maintaining the
					confidentiality of, and restricting access to, your Account and
					password, and you agree to accept sole responsibility for all
					activities that occur under your Account or password, and you further
					agree not to use another person's account without permission. You
					agree to notify us immediately of any breach of security or
					unauthorized use of your Account. We shall not be liable for any
					losses, damages, liabilities or expenses caused by any unauthorized
					use of your Account, and you agree to indemnify us and hold us
					harmless for any such unauthorized use.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					By entering into this agreement, you grant ArabyAds
					and its affiliated companies permission to identify you as a
					customer. This includes using your name, trade name and trademark (if
					applicable), and generally describing your business in their
					marketing materials and website.
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Confirmation
						of Information
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					authorize ArabyAds, or a third-party representative, to:
				</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						make any inquiries it considers necessary to validate either your
						identity or any of the information that you have provided; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						conduct credit and/or background searches on you and your
						corporation or other entity.
					</P>
			</UL>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					may be required to provide further information, take steps to confirm
					ownership of an email address, or provide copies of identifying
					documents.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Updating
						Information
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					must ensure that all information that you provide to ArabyAds is true,
					accurate, complete and current. If any of the information is, or
					becomes, incorrect, you must immediately provide ArabyAds with correct
					information.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Ad
						Eligibility Requirements
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					All
					ads that you upload to the ADM platform must comply with:
				</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						ArabyAds’s technical requirements. These are updated from time to
						time, and will normally be communicated to you within the ADM
						platform;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						The applicable rules of the website publisher upon whose site you
						want your ads served. These rules define the kind of ads that the
						publisher deems permissible, and are updated from time to time. The
						latest version of such rules can be found within the ADM platform.
						If you are uncertain as to whether your ad meets the publisher’s
						guidelines, you should contact a ArabyAds representative prior to
						uploading your ad in order to avoid interruptions, penalties,
						account suspension or closure;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						<A target="_blank" HREF="http://www.adfalcon.com/en/cr-policy.html">
							AdFalcon Ad
							Creative Policy&nbsp;
						</A>and any other ad quality guidelines or
						policies that ArabyAds implements. ArabyAds’s Creative Policy
						applies not only to your ads, but also the landing page to which
						your ad clicks-through. ArabyAds will notify you of any new ad
						quality guidelines or policies by either emailing you (to the email
						address you have provided) or by posting a notice within the ADM
						platform. Your continued use of the Services after such notification
						affirms your acceptance; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						The applicable laws in the country in which you live, and any
						country where your ads are served.
					</P>
			</UL>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					Some
					or all of the above requirements may change over time. You must
					review each on a regular basis to ensure your on-going compliance.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Ad
						and Service Use Responsibility
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					are solely responsible for all ads that you create, upload or traffic
					using the Services. ArabyAds is not liable for any loss or damage that
					your ads may cause to you or others.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
				<SPAN LANG="en-US">You represent, warrant and covenant that:</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
						You hold the necessary rights to permit the use of the Advertising
						Materials by ArabyAds;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
						All Advertising Materials comply with laws, regulations, industry
						standards in the applicable territory and any written requirements
						mandated by the Publisher Sites;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
						Neither the Advertising Materials nor the products or services
						promoted by the Advertising Materials contain any item that (i) is
						misleading, inaccurate, or that makes fraudulent or unfair
						competitive claims or that makes insufficiently supported claims or
						claims that distort the true meaning or practical application of
						statements made; (ii) would be considered a criminal offense or
						could give rise to civil liability, or violates any applicable law,
						regulation or order of any court or tribunal; (iii) violates any
						third party right including without limitation, intellectual
						property rights; (iv) use, endorse or promote content which is adult
						content, pornographic, obscene, excessively profane, racist,
						ethnically offensive, threatening, infringing, excessively violent,
						libelous, gambling-related, or discriminatory activity, promotes
						illegal drugs or arms trafficking, counterfeiting money, violates
						export control laws, offensive; (v) contains any virus, worms,
						Trojan horses, or any other computer code, files or programs
						designed to interrupt, hijack, malware, spyware, spam-ware, destroy,
						limit or adversely affect the functionality of any computer,
						computer software, mobile device, hardware, network or
						telecommunications equipment; (vi) encourage or incentivize end
						users to visit, click or any other way for the purpose of generating
						revenues in an undue manner; (vii) install or execute on end uses’
						mobile device application(s)/software/program(s) without
						authorization of that user;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
						Advertising Materials comply with standards of decency and good
						taste. ArabyAds will decide, in its sole discretion, whether the
						Advertising Materials provided to ArabyAds comply with these
						standards;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
						If you are using the ADM platform, any ADM Data   provided to You by
						ArabyAds (which includes ArabyAds’s Data and/or Third-Party Data
						made available to you on the ADM Platform) will be used by You
						solely for the purposes of: (1) bidding on Inventory made available
						through the ADM; and (2) evaluating the performance of Your Ads. You
						may also use ADM Data to create and target audience segments only
						through the ADM platform. Except as expressly permitted in the
						foregoing sentence, You represent and warrant that You will not use
						any ADM Data for retargeting ads, segmenting users, creating or
						supplementing user profiles or inventory profiles. As between the
						parties, ADM Data shall be considered ArabyAds’s Confidential
						Information (as defined in the Confidentiality Section within this
						agreement).
					</P>
			</UL>
			<P LANG="en-US" STYLE="margin-left: 0.5in; margin-top: 0.03in; margin-bottom: 0.04in; line-height: 115%">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					<BR>ArabyAds
					requires full compliance by you to all the above representation,
					warrants and covenant. In the event that ArabyAds learns of any breach
					on these terms by you, ArabyAds will impose the punishment in the
					following sequence plus any damages caused, which can include but is
					not limited to, loss of revenue due, additional fines imposed by the
					Publisher Sites, or regulator and any other rights and remedies
					available to ArabyAds: (i) send you a written notice upon your first
					violation; (ii) freeze your Account for thirty(30) days upon your
					second violation and (iii) deactivate your Account and forfeit all
					the remaining balance upon your third violation.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					<BR>You
					agree that ArabyAds, in its sole discretion, shall be responsible for
					determining the existence of violation and you shall be bound by any
					and all such determination. Upon a good faith determination of
					violation by ArabyAds, you agree that you bear the burden of proving
					to ArabyAds that you did not engage in the violation.
				</SPAN><FONT COLOR="#333333">
					<FONT FACE="Helvetica, serif">
						<FONT SIZE=2 STYLE="font-size: 9pt">
						</FONT>
					</FONT>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Ad
						Quality Review
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					must approve each ad that you upload before you will be permitted to
					begin displaying such ad. To increase the likelihood that your ad
					will be approved, you should ensure that your ad fits within the size
					parameters specified and complies with all of the applicable
					submission requirements.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					reserves the right to reject or cancel any Advertising Materials at
					any time, for any reason whatsoever, including but not limited to
					belief by ArabyAds that the relevant Advertising Materials or the
					elements contained therein may subject ArabyAds to criminal or civil
					or administrative liability or is materially adverse to ArabyAds’s
					interests. The fact that ArabyAds has not rejected any Advertising
					Materials shall in no way reduce, limit or otherwise affect your
					responsibility and obligations under this Agreement. <BR>You shall
					notify ArabyAds in writing of any changes made to the Advertising
					Materials or the underlying service or products as soon as possible
					before the changes become effective.<BR>If ArabyAds determine (in
					ArabyAds’s sole discretion) at any time that the Advertising
					Materials provided by you is inaccurate or that any of the products
					or service promoted by you through the ADM violates any applicable
					laws, rules, regulations or any of ArabyAds’s policies, ArabyAds may
					suspend your participation in the ADM with or without prior notice to
					you.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					may periodically review live ads to ensure on-going compliance with
					submission requirements, even if an ad has already been approved.
					ArabyAds reserves the right to remove any ad that it believes is
					non-compliant with its ad eligibility requirements, or for any other
					reason. In addition to removing an ad, ArabyAds may also suspend
					and/or delete your account.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Third
						party Ad Serving
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					only permits the use of Third-Party Creative and Beacon URL/Tags in
					certain cases. If you wish to use such tags, you must send a request
					to your account manager in order to study the request and approval is
					given at ArabyAds’s discretion.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					Also, you should acknowledge and accept <A target="_blank" HREF="http://www.adfalcon.com/en/3p-tag-policy.html">
						ArabyAds
						AdFalcon Platform 3rd Party Ad-Tags Serving Policy
					</A> and the below
					terms in relation to the use of Third-Party Creative and Beacon
					URL/Tags on ArabyAds ADM
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					1. You warrant and promise that after gaining
					access to Third-Party Creative and Beacon URL function, you will not
					upload any Prohibited Content to your Account and any content that
					might be linked through the materials you uploaded will not be
					considered, in ArabyAds’s discretion, as Prohibited Content as well.
					For the purpose of this Guideline, Prohibited Content includes but is
					not limited to content that is auto-redirect, auto-download, malware,
					pornographic, obscene, racist, ethnically offensive, threatening,
					infringing, violent, misleading, deceptive, or content which contains
					any item that is not inconsistent with <A target="_blank" HREF="http://www.adfalcon.com/en/cr-policy.html">
						AdFalcon
						Ad Creative Policy
					</A> or the Agreement.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					2. You understand that credit line will not be
					granted to account with access to Third-Party Creative and Beacon
					URL/Tags and JavaScript function, and it is your responsibility to
					ensure your Account has sufficient funds to pay for the impressions.
					In addition, you need to pay ArabyAds the amount of $5000 - $10000 as
					a deposit to guarantee your full compliance with this Agreement. If
					you commit any violation during the period when JavaScript function
					is available to you, ArabyAds is entitled to forfeit the deposit
					permanently and assess an additional deposit based on your violation.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					3. If you have already been granted access to
					Third-Party Creative and Beacon URL/Tags and JavaScript function, you
					understand that you will no longer be eligible for credit line and
					any credit granted before the effective date of this Guideline will
					expire within two weeks. In addition, ArabyAds reserves the right to
					make relevant adjustment regarding traffic flow in this two weeks
					period.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					4. You confirm that the deposit is just a
					conservative approximation of the expense and loss ArabyAds will be
					incurred in enforcing this Guideline and nothing in this Guideline
					limits ArabyAds’s rights under the Agreement.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<SPAN LANG="en-US">
					ArabyAds reserves
					the right to deny Third-Party Creative and Beacon URL/Tags requests
					at its sole discretion, and to revoke previously-granted permission
					in its sole discretion.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Purchases</SPAN></FONT></P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					By
					bidding on ad inventory through the ADM platform, you are making a
					programmatic offer to purchase such ad inventory. If your offer is
					accepted, you have purchased such inventory. Purchases are
					non-cancellable.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					Ad
					inventory purchases are calculated using ArabyAds’s statistics and
					data. If these differ from any other statistics or data, ArabyAds’s
					measurements will prevail.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					agree to pay the applicable charges for the impressions you
					successfully bid by the real-time auction. The Total Ad Cost that you
					will be charged will comprise of one or more of the following charges
					depending on the nature of your purchase and services acquired:
				</SPAN>
			</P>
			<OL TYPE=A>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Ad impression cost; which represents the Ad inventory purchase on
						the real-time auction in addition to cost of sales and ADM platform
						fee;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Data Impression Cost: which represents the cost of chargeable
						audience Data Elements used in Ad impression targeting; usually
						provided by third-party providers.
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Third Party Provider Cost: which represent the cost of chargeable
						third part services utilized in ad impression serving;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Private Marketplace Deal Cost; which represents the Ad inventory
						purchase within a private auction;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Private Marketplace Platform Fee; which represents ADM platform fee
						for facilitating the private auction purchase;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
						Professional Services Cost; which represents any dynamic creatives,
						custom reports; custom pixel logic; server to server integrations;
						audience insight reports; consultative and advisory services;
						campaign setup and management; and any other services utilized
					</P>
			</OL>
			<P STYLE="margin-bottom: 0.11in">
				You also agree to pay us all related
				taxes and fees (including without limitation VAT, duties or
				withholding taxes or remittance fees), and to reimburse us for all
				collection costs and interest for any overdue amounts. All charges
				are non-refundable and non-recoupable and shall be made in advance
				unless otherwise agreed upon by ArabyAds. ArabyAds is under no
				obligation to provide any services until payment is received.<FONT COLOR="#333333"><FONT FACE="Helvetica, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR></FONT></FONT></FONT><BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Payment
						Methods
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					There
					is a $1000 USD minimum deposit each time you fund your account.
					ArabyAds accepts credit card, wire transfer and PayPal as payment
					methods.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					All
					monetary amounts related to the Services are in U.S. dollars. If you
					send monetary amounts other than U.S. dollars, they will be exchanged
					at – the rate available to ArabyAds at the time of such exchange.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					You
					are responsible for confirming the accuracy of all information that
					you provide for each payment (such as contact information, payment
					amounts, credit card numbers and expiry dates, and wire information,
					as applicable).
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					uses third-party providers to process payments. As such, ArabyAds is
					unable to make any guarantees as to how long it will take to post
					funds to your account. If you use a credit card, the funding payment
					is usually processed and credited to your account immediately. If you
					send a wire transfer or use PayPal, the processing and posting of
					funds to your account may take a few days.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<SPAN LANG="en-US">
					ArabyAds
					will credit your account as per the amount received by us. If ArabyAds
					incurs wire transfer charges or any other charges in relation to your
					payment, then these charges will be deducted from the amount credited
					to your account.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				ArabyAds has two type of payments
				methods:
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					1) Payment in advance: The initial prepayment
					range to your account for real-time auction is from USD 1000.00 to
					USD 5000.00 and standard top-up option starting from USD 1000.00. You
					shall pay to ArabyAds the initial prepayment as above mentioned
					according to the payment methods as designated by ArabyAds within five
					(5) business days after the Effective Date of this Agreement. You
					hereby agree that all the payment you deposit into your account with
					ArabyAds is non-refundable and non-recoupable. ArabyAds has right to
					designate new payment methods and update the prepayment range due to
					different payment methods. The charges for impressions you
					successfully purchased will be debited from your Account at the time
					of purchase. It is your responsibility to ensure your Account with us
					has sufficient funds to pay for the impressions. ArabyAds reserves the
					right to set and negotiate specific initial prepayment amount on a
					customer-by-customer basis.<BR>2) Payment in arrears: In rare cases,
					ArabyAds may grant credit line (You need generate consumption records
					satisfactory to ArabyAds for at least two recently consecutive
					months.) to you with the amount solely determined by ArabyAds and you
					are entitled to purchase impressions within such amount without
					credit your Account in advance. We may increase or reduce your credit
					line at our discretion. The actual charges for impressions you
					successfully purchased under your Account will be calculated either;
					a) on a monthly basis starting from the first day of an applicable
					month to the last day of the same month and ArabyAds will issue the
					corresponding invoice to you within ten (10) business days following
					the end of the applicable month. b) Or based on each campaign,
					starting from the first day the campaign starts to the last day of
					the campaign and ArabyAds in this case will issue the corresponding
					invoice to you within ten (10) business days following the end of the
					campaign. You shall then remit the amount recognized on the invoice
					to ArabyAds’s designated bank account within ten (10) business days
					after the receipt of such invoice. Upon termination or expiration of
					this Agreement, your payment obligations of charges for impressions
					you successfully purchased shall be accelerated and immediately
					become due and payable to ArabyAds within ten (10) business days after
					receiving the invoice from ArabyAds. Amounts paid after due date shall
					bear interest at the rate of 3%per day (or the highest rate permitted
					by law).
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Account
						Responsibility
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You are solely responsible for ensuring the
					accuracy of all information you provide in accessing the Services
					(such as entering bid prices, bid criteria, and destination URLs).
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You must diligently protect your account password
					and take all measures to prevent unauthorized access. You will be
					solely responsible for any unauthorized usage. ArabyAds recommends
					that you use a ‘strong’ password (i.e. a password with mixed
					upper and lower case letters, numbers and symbols, that is at least
					eight characters long), and change your password regularly.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					If your account has been compromised or is being
					used in an unauthorized manner, you must immediately notify ArabyAds.
					You should regularly log into your account and review the details of
					your spending to ensure that there has not been an unauthorized
					transaction or other error.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Taxes</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You are responsible for all duties, tariffs and
					taxes related to your use of the Services, except for taxes on income
					paid or payable by ArabyAds.
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Indemnification</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You hereby agree to defend (or pay our fees and
					costs of defense at our sole discretion), indemnify and hold ArabyAds,
					and its affiliated companies, and each of their respective directors,
					officers, employees, consultants and agents harmless from any losses,
					damages, or costs arising from your use of the Services, Advertising
					Materials, or your breach (or any alleged breach) of this agreement.
					This includes, but is not limited to, any losses, damages, or costs
					resulting from claims that your ads infringe upon any person’s
					intellectual property or other rights.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Intellectual
						Property
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds is the sole beneficial owner of the
					ADFALCON, ADFALCONX and ADFALCON DEMAND MANAGER (ADM) trademarks and
					their respective Logos and Intellectual Property Rights.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					No right or license has been granted to Advertiser
					or any other person by ArabyAds to use in any manner or to do anything
					which would or might otherwise infringe any of the Intellectual
					Property Rights referred to above.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds’s business as now carried on does not
					and is not likely to infringe any Intellectual Property Right of any
					person (or would not do so if the same were valid) or give rise to a
					liability to pay compensation
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You may not copy, imitate, or use any of these
					without ArabyAds’s prior written consent. You acknowledge and agree
					that all right, title and interest in and to the aforementioned
					assets, including derivative creations, is the exclusive property of
					ArabyAds, its affiliated companies, and/or its licensors, and is
					protected by applicable intellectual property and other laws.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Ad
						creative license.
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds needs the right to use your ad to the
					extent necessary to provide you with the Services, now and in the
					future. For example, if you upload an ad to the ADM and request that
					it be served to a particular website, ArabyAds requires a license from
					you to do so.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">By using our Services, you:</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						grant to ArabyAds, and its affiliates and subsidiaries and suppliers,
						a non-exclusive, royalty-free, transferable right to use, display,
						perform, reproduce, distribute, publish, modify, adapt, and
						translate such ads, solely in the manner and for the purposes for
						which the Services are used from time to time; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						grant to ArabyAds, and its affiliates and subsidiaries and suppliers,
						a non-exclusive, royalty-free, transferrable, irrevocable right to
						collect, use and modify any data related to your ads;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						grant to ArabyAds, and its affiliates and subsidiaries and suppliers,
						a non-exclusive, royalty-free, transferrable, irrevocable right to
						use your name, logo and ads on each of their respective websites and
						promotional materials; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						represent to ArabyAds that you have the lawful right to post and
						distribute that ad to or through the Services and, in doing so, you
						are not violating the terms of this agreement, the terms of any
						other agreement, or the rights of any person or entity.
					</P>
			</UL>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						ADM
						Platform Disclaimer
					</SPAN>
				</FONT>
			</P>
			<OL TYPE=A>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						NO REPRESENTATIONS OR WARRANTIES FOR ADM PLATFORM. ArabyAds’S ADM
						PLATFORM IS PROVIDED TO YOU BY ArabyAds ON AN ‘AS IS‘ AND ‘&nbsp;AS
						AVAILABLE‘ BASIS. ArabyAds MAKES NO REPRESENTATIONS OR WARRANTIES
						OF ANY KIND, EXPRESS OR IMPLIED, AS TO THE OPERATION OF THE ArabyAds
						ADM PLATFORM OR ANY INFORMATION, CONTENT OR MATERIALS IT CONTAINS.
						ArabyAds EXPRESSLY DISCLAIMS ANY AND ALL REPRESENTATIONS, WARRANTIES
						AND CONDITIONS, EXPRESS AND IMPLIED, INCLUDING ANY AND ALL
						REPRESENTATIONS AND WARRANTIES OF TITLE AND NON-INFRINGEMENT, AND
						ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABLE QUALITY,
						FITNESS FOR A PARTICULAR PURPOSE, SUITABILITY FOR A PARTICULAR
						PURPOSE, AND ANY REPRESENTATIONS, WARRANTIES OR CONDITIONS ARISING
						FROM ANY COURSE OF DEALING OR USAGE OF TRADE, WITH RESPECT TO THE
						ArabyAds ADM PLATFORM OR THE INFORMATION, CONTENT OR MATERIALS IT
						CONTAINS. ArabyAds DOES NOT REPRESENT OR WARRANT THAT THE ADM
						PLATFORM IS ACCURATE, COMPLETE, RELIABLE, CURRENT, OR FREE OF
						ERRORS, VIRUSES OR INTERRUPTIONS. ArabyAds IS NOT RESPONSIBLE FOR,
						AND WILL NOT BE LIABLE TO YOU IN RESPECT OF, UNAUTHORIZED ACCESS OF
						YOUR ACCOUNT BY THIRD PARTIES THROUGH ILLEGAL OR UNAUTHORIZED MEANS
						(INCLUDING ACCESS THROUGH EXPLOITATION OF SECURITY GAPS, WEAKNESSES
						OR FLAWS, WHETHER OR NOT SUCH ARE KNOWN TO ArabyAdsAT THE TIME). YOU
						EXPRESSLY AGREE THAT YOUR USE OF THE ArabyAds ADM PLATFORM IS
						ENTIRELY AT YOUR SOLE RISK.
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						In no event will ArabyAds, or any of its affiliated companies, be
						liable to you (or any other party) for any special, direct,
						indirect, incidental or consequential damages of any kind whatsoever
						(including loss of profits, loss of business opportunities, costs of
						substitutes, legal fees and court costs) even if such damages are
						reasonably foreseeable.
					</P>
			</OL>
			<P STYLE="margin-bottom: 0.11in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Service
						Disclaimer
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You acknowledge and agree that the ADM is operated
					by ArabyAds as a passive conduit for the traffic distribution and
					publication of information submitted by you and ArabyAds has no
					obligation to screen communications or information in advance on any
					Publisher Sites. Consequently ArabyAds shall not be liable for the
					underlying advertising product(s) or service(s) provided by Publisher
					Sites available through ADM. ArabyAds do not warrant the correctness,
					accuracy, timeliness, reliability of any content or information
					posted on Publisher Sites nor do ArabyAds makes any representation or
					guarantee regarding the level of impression, the conversion rate, or
					the timing of delivery of any impressions available through
					ADM.<BR>Furthermore, ArabyAds will not be subject to any liability
					whatsoever for: (a) Any failure to provide access to all or any part
					of the ADM due to systems failures or other technological failures of
					ArabyAds or of the Internet; (b)Network disconnection caused by the
					network operators; (c) System maintenance; (d) Server down, server
					maintenance or device failures of the third party publishers; (e)
					Service interruptions caused by events beyond ArabyAds’s control;
					and (f) Errors in content or omissions in any Advertising Materials.
				</SPAN><FONT COLOR="#333333">
					<FONT FACE="Helvetica, serif">
						<FONT SIZE=2 STYLE="font-size: 9pt">
						</FONT>
					</FONT>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					With respect to the Services, and to the fullest
					extent permitted by law, ArabyAds disclaims all guarantees regarding
					positioning, levels, quality or timing of:
				</SPAN>
			</P>
			<OL>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						cost per impression;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						click-through rates;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						availability, quantity or delivery of impressions;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						any user actions related to your ads, if available
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						conversions, if available;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						accuracy of data; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						the adjacency or placement of ads.
					</P>
			</OL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Furthermore, ArabyAds makes no representations
					regarding revenue, the performance of your advertising campaigns, or
					any other anticipated benefits related to your access of the
					Services, or that the Services are suitable for your intended
					purposes.
				</SPAN>
			</P>
			<OL TYPE=A>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						Availability.
					</P>
			</OL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds will use commercially reasonable efforts
					to provide the Services on an on-going basis, however, for a number
					of reasons, the Services may be inaccessible, unavailable or
					inoperable from time to time. This may be the result of:
				</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						periodic maintenance or repairs;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						equipment malfunctions;
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						network attacks or other hostile actions; or,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						other reasons beyond ArabyAds’s control.
					</P>
			</UL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					These circumstances, or others, may affect the
					availability of the Services and availability is not guaranteed.
				</SPAN>
			</P>
			<OL TYPE=A START=2>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						Internet inherently insecure
					</P>
			</OL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					The internet is an inherently insecure medium and
					the transmission of data over the internet (such as sending an email
					or logging onto a website) is subject to possible loss, interception
					or alteration while in transit. Accordingly, ArabyAds does not assume
					any liability for any damage you may experience or costs you may
					incur as a result of any loss, interception or alteration of
					transmissions over the internet. While ArabyAds uses commercially
					reasonable efforts to safeguard the privacy of your information, and
					will treat such information in accordance with its Privacy Policy, in
					no event will the information you provide be deemed to be
					confidential, create any fiduciary obligations to you on ArabyAds’s
					part, or result in ArabyAds, or any of its affiliated companies, being
					liable to you if such information is inadvertently released to, or
					accessed by, any third parties.
				</SPAN>
			</P>
			<OL TYPE=A START=3>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						Limitation of liability
					</P>
			</OL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Under no circumstances (including negligence,
					gross negligence, negligent misrepresentation or fundamental breach)
					will ArabyAds, or its affiliates or related companies, or any of their
					respective directors, officers, employees, consultants or agents, be
					liable to you or any third party, for any direct, indirect,
					incidental, special or consequential damages, injury, claim, cost,
					expense, liability, proceeding or loss (including legal fees)
					(collectively, a “Loss“) that result from your access of, or your
					inability to access the Services, or the transmission of confidential
					or sensitive information over the internet. These limitations apply
					regardless of whether the party liable, or allegedly liable, was
					advised, had other reason to know, or in fact knew of the possibility
					of such damages. You specifically acknowledge and agree that neither
					ArabyAds, nor its affiliates companies, nor any of their respective
					directors, officers, employees, consultants or agents, will be liable
					for any defamatory, offensive or illegal conduct of any user,
					including you. To the extent this limitation on liability is
					prohibited, the liable party’s sole obligation to you for all
					damages is limited to $500. THE FOREGOING LIMITATION OF LIABILITY
					SHALL APPLY REGARDLESS WHETHER BASED UPON BREACH OF CONTRACT,
					NEGLIGENCE, TORT, ERRORS AND OMISSIONS, COPYRIGHT, TRADEMARK, PATENT,
					OR ANY OTHER CLAIM OR CAUSE OF ACTION UNDER WHICH SUCH DAMAGES ARE
					SOUGHT. Except as otherwise set forth herein, no action arising under
					or relating to this Agreement, regardless of its form, may be brought
					by you more than 2 months after the cause of action has accrued and
					in any event no later than 2 months after the termination of this
					Agreement.
				</SPAN><FONT COLOR="#333333"><FONT FACE="Helvetica, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR></FONT></FONT></FONT><BR><BR>
			</P>
			<OL TYPE=A START=4>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						Conversion pixels.
					</P>
			</OL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds provides you with ‘conversion pixels’
					to track certain statistics related to your ads (including the number
					of conversions, eCPA, revenue and conversion rates). You are
					responsible for correctly installing and using these ‘conversion
					pixels’ in the manner specified. ArabyAds makes no representations
					or warranties with respect to the accuracy of the information
					collected by such ‘conversion pixels’ or the data derived from
					such information.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Termination
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Either party may terminate this Agreement at any
					time by providing notice to the other party Five (5) business days
					before such termination become effective. Notwithstanding anything to
					the contrary in this Agreement, ArabyAds may suspend, deactivate or
					terminate your Account and your right to use the services from ADM at
					any time in its sole discretion, due to your breach of any terms of
					this Agreement. You are obligated to compensate ArabyAds for all
					impressions up to the point the termination takes effect and for all
					non-cancellable portions.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					If ArabyAds suspends or terminates your account in
					its sole discretion:
				</SPAN>
			</P>
			<UL>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						ArabyAds is not obligated to provide you with a reason for its
						actions; and,
					</P>
				<LI>
					<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
						ArabyAds will refund the full unused balance remaining in your
						Account, if any, within 30 days of receiving written instructions
						from you as to where to refund the balance. You may be required to
						provide additional information or documentation in order for ArabyAds
						to confirm your identity, before any refund request will be
						processed.
					</P>
			</UL>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					If ArabyAds suspends or terminates your account for
					breach of any of the terms of this agreement or if you initiate the
					termination of this agreement at your sole discretion, ArabyAds will
					NOT refund the unused balance remaining in your account, if any, and
					you are obligated to compensate ArabyAds for all impressions up to the
					point the termination takes effect and for all non-cancellable
					portions.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					If ArabyAds terminates your account your right to
					access the Services immediately terminates. You will not be permitted
					to open a new account. If ArabyAds suspects that you are operating, or
					associated with, another account (based on its analysis of subscriber
					data, account content and other information), ArabyAds may suspend or
					terminate such ‘related’ account, as well. Also, If your account
					is suspended or terminated, your right to access the Services
					immediately terminates. In such case, you must immediately destroy
					all copies of downloaded materials in your possession or control, and
					immediately cease accessing the Services.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Use
						of Data
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					In connection with the operation of any Service
					provided by ArabyAds, ArabyAds and You may collect and receive Service
					Data. “Service Data” includes any information that You or ArabyAds
					collect during the delivery of ads or the performance of obligations
					under this Agreement, including End User device information, End
					User’s session-based browsing behavior, information about ads
					served, viewed, or clicked on, http header information, and any other
					data that is provided and accessible by ArabyAds. You agree that
					ArabyAds will have the right to: (a) use and disclose Service Data (i)
					to provide any of the Services, (ii) for its internal business
					purposes, (iii) to improve any products or services provided by
					ArabyAds, and (iv) to enable, and allow for the improvement of,
					services provided by Advertisers and other third party partners; (b)
					use and disclose Service Data as may be required by law or legal
					process; and (c) use and disclose Service Data when it is aggregated,
					such that it does not identify You or any End User. You may use
					Service Data that You receive from ArabyAds for Your internal business
					purposes so long as such use is in compliance with your obligations
					under all sections mentioned within this agreement and all applicable
					privacy policies, laws, rules, regulations and industry
					self-regulatory regimes relating to the collection, use and
					disclosure of Service Data, and that You obtain any and all consents,
					waivers, approvals, authorizations and clearances from End Users that
					may be required by applicable laws in connection therewith.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You also acknowledge and agree that Service Data
					collected, may also be used by ArabyAds for the following purposes:
				</SPAN><FONT COLOR="#333333"><FONT FACE="Helvetica, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><BR></FONT></FONT></FONT><SPAN LANG="en-US">
					1)
					Formation of algorithm: ArabyAds will collect the raw data from your
					campaign (e.g. number of clicks, click time, click-through rate, bid
					price, cost-per-click, conversion rate, etc) to formulate predictive
					algorithms;<BR>3) Product Whitepaper: Upon analyzing the data
					collected, ArabyAds would be entitled to publish Product White Papers
					to disclose the findings we obtained. ArabyAds won’t mention your
					name or your client’s names in its whitepapers unless we receive a
					formal approval from you; <BR>4) Marketing and Press Releases:
					Findings might be used with regard to various marketing and press
					releases to share with the market. ArabyAds won’t mention your name
					or your client’s names in its Marketing material or Press Releases
					unless we receive a formal approval from you;
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Confidentiality</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Except as otherwise provided herein, each party
					agrees to treat as confidential and not to disclose, duplicate, use
					or permit the use by a third party of any information, documents or
					materials provided by the other party under this Agreement other than
					for the purpose of providing its services under this Agreement or as
					may be required by law.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Privacy
						Policy
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Each party shall adhere to applicable privacy law
					and regulations, either locally or globally, including, but not
					limited to, the NAI Code, DAA Code or similar industry privacy
					standards, to the extent applicable to each party. Each party will
					post a conspicuous privacy policy on its respective website that is
					in accordance with all applicable laws, rules and regulations and the
					common well-known self-regulatory programs in relation to consumer
					privacy. You shall contractually require your advertisers to have a
					conspicuous privacy policy on the landing page of each website to
					which ad links and adhere to applicable privacy law and regulations,
					including but not limited to, NAI Code, DAA Code or similar industry
					privacy standards, to the extent applicable. Neither party shall use
					the ADM platform, either directly or indirectly, through Advertisers,
					to collect, transmit, provide, or otherwise make available to the ADM
					platform personally identifiable information, including sensitive
					information of any kind. Neither you nor any of your advertisers may
					merge or otherwise associate personally identifiable information with
					information collected through the ADM platform unless such merger or
					association is conducted in accordance with the NAI code and DAA Code
					with the use of ADM platform. You agree to engage only those online
					advertising technology providers that agree to adhere to the NAI
					Code, DAA Code or similar industry privacy standards.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Please refer to our Advertising Technology Privacy
					Policy, available at <A target="_blank" HREF="http://www.adfalcon.com/en/tech-policy.html">http://www.adfalcon.com/en/tech-policy.html</A>
				</SPAN>(<SPAN LANG="en-US">
					“<A target="_blank" HREF="http://www.adfalcon.com/en/tech-policy.html">
						Technology Privacy
						Policy
					</A>“) for information on how ArabyAds collects, uses and
					discloses your personally identifiable information. By using the
					Services, you agree to ArabyAds’s use, collection and disclosure of
					personally identifiable information in accordance with the Privacy
					Policy. Also, our website privacy policy is available at
					<A target="_blank" HREF="http://www.adfalcon.com/en/privacy.html">http://www.adfalcon.com/en/privacy.html</A>
				</SPAN>(“<A target="_blank" HREF="http://www.adfalcon.com/en/privacy.html">
					Website
					Privacy Policy
				</A>”).
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<FONT COLOR="#333333">
					<FONT FACE="Helvetica, serif">
						<FONT SIZE=2 STYLE="font-size: 9pt">
							<I>
								DAA
								Code means: the set of Digital Advertising Alliance (‘DAA’)
								Self-Regulatory Principles for Online Behavioural Advertising posted
								at
							</I>
						</FONT>
					</FONT>
				</FONT><A target="_blank" HREF="http://digitaladvertisingalliance.org"><FONT FACE="Helvetica, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><I>http://digitaladvertisingalliance.org</I></FONT></FONT></A>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<FONT COLOR="#333333">
					<FONT FACE="Helvetica, serif">
						<FONT SIZE=2 STYLE="font-size: 9pt">
							<I>
								NAA
								Code means: the set of self-regulatory privacy principles for
								third-party ad serving created and agreed to by the coalition of
								third-party ad serving companies referred to as the Networking
								Advertising Initiative (‘NAI”) and posted at
							</I>
						</FONT>
					</FONT>
				</FONT><FONT FACE="Helvetica, serif"><FONT SIZE=2 STYLE="font-size: 9pt"><I>http://www.networkadvertsining.org</I></FONT></FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						No
						Joint Venture
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					No joint venture, partnership, employment or
					agency relationship exists or is created between you and ArabyAds, or
					any of its affiliated companies, as a result of this agreement or
					your use of the Services.
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Headings</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					The division of this agreement into sections and
					subsections, and the insertion of headings, is for convenience of
					reference only. It is not intended to affect the construction or
					interpretation of this agreement.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Assignment</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					You may not transfer or assign any rights or
					obligations you have under this agreement without ArabyAds’s prior
					written consent. ArabyAds may transfer or assign this agreement, or
					any right or obligation under this agreement, at any time, and is not
					required to provide you with notice of such assignment. Upon such
					assignment, the assignee becomes responsible for, and you release
					ArabyAds from, all of ArabyAds’s assigned obligations.
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-bottom: 0.14in; line-height: 115%">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Enurement</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					This agreement enures to the benefit of and binds
					you and ArabyAds, and your/ArabyAds’s respective heirs, executors,
					administrators, successors and permitted assigns, as applicable.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Severability</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					The invalidity or unenforceability of any
					provision of this agreement does not affect the validity or
					enforceability of any other provisions of this agreement, and any
					such invalid or unenforceable provision is deemed to be severable.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Force
						Majeure
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					In addition to applicable disclaimers stated
					above, ArabyAds’s performance under this agreement is excused in the
					event of interruption and/or delay due to, or resulting from, causes
					beyond its reasonable control, including acts of God, acts of any
					government, war or other hostility, civil disorder, the elements,
					fire, flood, earthquake, explosion, embargo, acts of terrorism, power
					failure, equipment failure, industrial or labor disputes or
					controversies, acts of any third party data provider(s) or other
					third party information provider(s), third party software, or
					communication method interruptions.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Subpoenas</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds may be subpoenaed by governmental entities
					or others to provide information relative to your account. ArabyAds
					has no obligation to inform you of any subpoena or response to any
					subpoena, and you agree that ArabyAds will have no liability to you
					for disclosing information in response to a subpoena.
				</SPAN>
			</P>
			<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%"><FONT SIZE=5><SPAN LANG="en-US">Notices</SPAN></FONT></P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
                <SPAN LANG="en-US">
                    ArabyAds will provide you with any required notice
                    by: posting it in the Services; emailing it to the email address
                    listed in your account; or, mailing it to the street address listed
                    in your account. Such notice is deemed to have been received by you
                    immediately upon it being posting to the website or sent to you by
                    email (unless we receive notice that the email was not delivered). If
                    notice is sent by mail, it is deemed received by you three business
                    days after it is sent. You will provide ArabyAds with any required
                    notice by registered mail to:&nbsp; P.O.Box 300285,CG Building, Dubai, UAE
                    Attn: Finance Department.
                </SPAN>
			</P>
			<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Changes
						to this Agreement
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					ArabyAds has the rights to modify, add or remove
					any terms or conditions of this Agreement (“Changes“). You will
					be notified of any proposed Changes via email. If you do not agree to
					any or all of the Changes with 5 working days of being notified, you
					must stop using the Services immediately and notify ArabyAds via email
					at:&nbsp;<A HREF="mailto:ADM@AdFalcon.com">ADM@AdFalcon.com</A> or
					through your account manager and ArabyAds has the right to terminate
					the Agreement accordingly.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					Any amendment of this Agreement shall not be
					binding on the Parties unless set out in writing, expressed to amend
					this Agreement and signed by authorized representatives of each of
					the Parties.
				</SPAN>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0in; background: #ffffff; line-height: 100%">
				<BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Entire
						Agreement
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					The agreement, as amended from time to time,
					constitutes the entire agreement between you and ArabyAds for the
					Services and supersedes all prior agreements, written or oral, with
					respect to the same subject matter. You cannot change the terms of
					this agreement, nor can any ArabyAds sales representative.
				</SPAN>
			</P>
			<P LANG="en-US" STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<BR><BR>
			</P>
			<P STYLE="margin-bottom: 0.14in; line-height: 115%">
				<FONT SIZE=5>
					<SPAN LANG="en-US">
						Governing
						Law
					</SPAN>
				</FONT>
			</P>
			<P STYLE="margin-top: 0.03in; margin-bottom: 0.04in; line-height: 0.27in">
				<SPAN LANG="en-US">
					This Agreement shall be governed by and construed
					in all respects in accordance with the laws of England. The courts of
					England shall have exclusive jurisdiction to determine any disputes
					which may arise out of, under, or in connection with this agreement,
					save that Company shall retain the right to bring proceedings against
					Advertiser in the courts of any other country which has jurisdiction.
					Notwithstanding the foregoing, nothing herein prevents Company from
					applying to the courts of any other country for injunctive or other
					interim relief.
				</SPAN>
			</P>


		</div>

	</div>
</div>
<div class="section-footer">
</div>
<div class="data-row button-container">
    @if (
            Convert.ToDouble(ArabyAds.Framework.OperationContext.Current.UserInfo
                                                                <ArabyAds.AdFalcon.Common.UserInfo.AdFalconUserInfo>().UserAgreementVersion) < Convert.ToDouble(ArabyAds.AdFalcon.Web.Controllers.Utilities.Config.DSPUserAgreementVersion))
    {

        <input type="submit" value="@Html.GetResource("DSPAgree", "Commands")" name="Agree" class="primary-btn" />
        <input type="button" value='@Html.GetResource("Close", "Commands")' class="btn" onclick="redirect('@Url.Action("login", "user", new { method = "logout" })')" />

        @*<input type="submit" value='@Html.GetResource("Continue", "Commands")' name="Continue" class="btn" />*@
    }
    @*else
    {
        <input type="button" value='@Html.GetResource("Close", "Commands")' class="btn" onclick="close_window();return false;" />
    }*@
</div>
