@{
    Layout = "~/Views/Shared/MasterLayouts/Inner.cshtml";
}
<script language="javascript">

	  GlobalAdvertiserId = '@Model.AdvertiserId';
	GlobalAdvertiserAccountId = '@Model.AdvertiserAccountId';
    var result = false;
    var ischecked = false;
    var yesbtn = "@Html.GetResource("Yes", "Global")";
    var nobtn = "@Html.GetResource("No", "Global")";
    var ConfriamtionBoxTitle = "@Html.GetResource("Confirm")";
    var close = "@Html.GetResource("Close","Commands")";
	var rename = "@Html.GetResource("Rename", "Commands")";

    var AdvertiserRequired = "@Html.GetResource("AdvertiserRequired", "Advertiser")";
    	    var NameRequired = "@Html.GetResource("RequiredName")";


     var ContentListItemsRequired = "@Html.GetResource("ContentMasterListsValidation")";
    var ContentListItemsOutOfRange = "@Html.GetResource("ContentListItemsOutOfRange")";
    var InvalidContent = "@Html.GetResource("InvalidContentOfMasterItems")";

    var selectedName = "";
    var selectednumber = 0;
    var text;
    var direction = "left";

    jQuery(document).ready(function () {

        SetSelectedTap("ListMenuAdvertiser");

		$("#addAdvertiserAccountEventDialog").dialog({
			autoOpen: false,
            width: 650,
            height: 500,
			modal: true,
			resizable: false,
			draggable: false,
			open: function(){
				clearErrorMessage("party-divErrorMessages");
				countcallAdv = 0;
			},
			//position: { my: "center top", at: "center top"},
            buttons: [{

                text: '@Html.GetResource("Save", "Commands")',
                "class": 'primary-btn',

                click: function () {
                    SaveAdvertiser();
                }
            }
            ]
		});

		var control = document.getElementById("inputfile");
        control.addEventListener("change", function (event) {
            
            var reader = new FileReader();
			reader.onload = function (event) {
				var contents = event.target.result;
				
                if (contents.split(/\r\n|\r|\n/).length > 50000) {
                    $('#inputfile').val(null);
                    showErrorMessage("@Html.GetResource("ContentListItemsOutOfRange", "Global")", true, "party-divErrorMessages");
                } else {
                    $('#party-divErrorMessages').hide();
                    var results = "";
                    if (contents && contents != "")
                        results = FiltercheckEachItems(contents);
                    document.getElementById('ContentListItems').value = results;
                }
			};
			reader.onerror = function (event) {
				console.error("File could not be read! Code " + event.target.error.code);
			};
			console.log("Filename: " + control.files[0].name);
			reader.readAsText(control.files[0]);

        }, false);
        
        $('#addAdvertiserAccountEventDialog ').next().find('#close').bind('click', function () {
            document.getElementById('ContentListItems').value = "";
        });
    });


    function checked() {
		$('.grid-container input').each(function () {

            if ($(this).is(':checked')) {

                var name = $(this).eq(0).parent().parent().find(".grid-title-container.floating-left").children().text().trim();

                if (name.length > 30)
                    name = name.substring(0, 30) + "..";
                ischecked = true;
                @{
                    if (Noqoush.AdFalcon.Web.Controllers.Utilities.Config.CurrentLanguage=="ar")
                    {

                        <text>

                selectedName += "<span style='float:" + direction + ";'>" + name + "-</span><br>";

                </text>

                    }else
                    {
                        <text>
                selectedName += "<span style='float:" + direction + ";'>" + "-" + name + "</span><br>";
                </text>
                    }

                }
            }
        });
        return ischecked;
    }

    function popup(sender, SelectConfirmation, Confirmation) {

        selectedName = "";
        selectednumber = 0;
        if (checked()) {
            if (!result) {


                jQuery('<div id ="ConfirmationDialog" style="min-width: 200px;" title="' + ConfriamtionBoxTitle + '"></div>').dialog({

                    open: function () {
                        text = Confirmation.format($("#MainHeader span").html().trim()) + " <br><br> <div style='float: " + direction + ";'>" + selectedName + "</div>";
                        $(this).html(text);

                    },
                    close: function () {
                        $(this).remove();
                    },
                    resizable: false,
                    draggable: false,
                    width: "450px",
                    showCloseButton: false,
                    buttons: [
                 {
                     text: yesbtn,
                     click: function () {
                         $(this).dialog("close");
                         result = true;
                         $(sender).click();
                     }
                 },
                 {
                     text: nobtn,
                     click: function () {
                         $(this).dialog('close');
                         result = false;
                     }
                 }
                    ],
                    modal: true,

                });



            }
        } else {
            jQuery('<div id = "NoCampaignsareSelected"></div>').dialog({

                open: function (event, ui) {
                    $(this).html(SelectConfirmation);
                },
                close: function () {
                    result = false;

                    $(this).remove();
                },
                resizable: false,
                draggable: false,
                modal: true,
            });

        }
        ischecked = false;
        return result;
    }

	
    var advertiseraccId = '@(Html.ViewContext.RouteData.Values["Id"]!=null&& Html.ViewContext.RouteData.Values["Id"].ToString()!="" ?Html.ViewContext.RouteData.Values["Id"]:0)';
    
    var gridItemId = 0;
    var ok_text = '@Html.GetResource("Ok", "Commands")';
    var service_url = null;
	var service_callback = null;
		var EditMasterAppSiteItem = "@Html.GetResource("EditContentAppSite", "Global")";

	var AddNewMasterAppSiteItem = "@Html.GetResource("AddNewContentAppSiteItem", "Global")";
    function callService(item, callback) {

        gridToolTip.hide();
        $('[name="valueRequiredErrorMsg"]').hide();
        $('[name="MaxValueErrorMsg"]').hide();

        $('[name="clone_name"]').val(jQuery(item).attr("item_extra_info"))
        service_url = jQuery(item).attr("href2");
        service_callback = callback;
		if (jQuery(item).attr("type") == '@Noqoush.AdFalcon.Web.Controllers.Model.AjaxType.rename') {

			EditAdvertiser(jQuery(item).attr("item_extra_info"), jQuery(item).attr("valitem"));
			return;
        } else {
            $('#ui-dialog-title-new-name-dialog-form').text('@Html.GetResource("Clone", "Commands")');
            $('#ui-dialog-title-dialog-form').text('@Html.GetResource("Clone", "Commands")');
            $('#new-name-dialog-form').dialog('option', 'title', '@Html.GetResource("Clone", "Commands")');

        }
       $('#new-name-dialog-form').dialog('open');
    }
    function old_callService(item, callback) {
        gridToolTip.hide();
        var url = jQuery(item).attr("href2");

    }
    function localInitilize() {
     
        jQuery("#dialog-form").dialog({
            autoOpen: false,
            // height: 150,
            width: 400,
            modal: true,
            resizable: false,
            draggable: false,
            close: function () {
            }
        });


        jQuery("#new-name-dialog-form").dialog({
            autoOpen: false,
            modal: true,
            resizable: false,
            draggable: false,
            buttons:
                   [{

                       text: '@Html.GetResource("Save")',
                       click: function () {
                           var new_name = $('[name="clone_name"]').val();
                           if (!hasValue(new_name)) {
                               $('[name="valueRequiredErrorMsg"]').show();
                               return;
                           }
                           else {
                               if (new_name.length > 255) {
                                   $('[name="MaxValueErrorMsg"]').show();
                                   return;
                               }
                           }
                           var url = service_url + '?name=' + encodeURIComponent(new_name);
                           if (service_url.indexOf('?') > -1) {
                               url = service_url + '&name=' + encodeURIComponent(new_name);
                           }

                           jQuery.ajax(
                                       {
                                           dataType: "json",
                                           contentType: 'application/json; charset=utf-8',
                                           type: "POST",
                                           //data: prams,
                                           url: url,
                                           success: function (result) {
                                               jQuery.globalEval(callback);
                                               jQuery('#dialogText').text(error.responseText);
                                               jQuery('#dialog-form').dialog('open');
                                           },
                                           error: function (error) {
                                               if (error.status == "200") {
                                                   jQuery.globalEval(service_callback);
                                               }
                                               jQuery('#dialogText').text(error.responseText);
                                               jQuery('#dialog-form').dialog('open');
                                           }
                                       });
                           jQuery(this).dialog("close");
                       },
                       "class": 'primary-btn',

                   }]

        });
    };
    function refreshCampaignGrid() {
        RefrashGrid('Grid');
    }
    function generateCampaignGrid() {
        var grid = $("#Grid").data("tGrid");

        if (typeof (grid) != "undefined") {
            grid.rebind();

        }
    };
    function AccountAdvertisersGridDataBinding(args) {

        args.data = $.extend(args.data,
            {
		
				Name: $('#Name').val(),
				StatusId: $('input[name=StatusId]:checked').val(),

				TypeId: $('input[name=TypeId]:checked').val(),
            });

    };
    function AccountAdvertisersGridDataBound(e) {

        var grid = $("#Grid").data("tGrid");
        //if not first page and the no data then try load first page
        if ((grid.data.length == 0) && (grid.currentPage > 1)) {
            e.preventDefault();
            grid.pageTo(1);
        }



    };

    function showfilter() {

        if ($("#advfilterCamp").hasClass('maximize')) {

            $("#advfilterCamp").attr("class", "minimize AdvanceFilterIcon");
        }
        else {

            $("#advfilterCamp").attr("class", "maximize AdvanceFilterIcon");
		}
		
    }
	var GetMasterAppSiteItemUrl = '@Url.Action("GetMasterAppSiteItem", "Campaign")';
    function AddAdvertiser() {

		$("#addAdvertiserAccountEventDialog").dialog("open");

		$('#addAdvertiserAccountEventDialog').dialog('option', 'title', AddNewMasterAppSiteItem);
        clearDialog("addAdvertiserAccountEventDialog");
		//$('input[name=TypeAddId]').val('1');
		Radio_uncheck("BlockListTypeAddId");
		Radio_uncheck("WhiteListTypeAddId");
		Radio_check("WhiteListTypeAddId");
		var input = document.getElementById("inputfile");
		input.value = '';
		if (!/safari/i.test(navigator.userAgent)) {
			input.type = '';
			input.type = 'file';
		}
    }
	function EditAdvertiser(name, id) {


		clearDialog("addAdvertiserAccountEventDialog");


		$("#ListId").val(id);
		$("#CustomName").val(name);

		Radio_uncheck("BlockListTypeAddId");
		Radio_uncheck("WhiteListTypeAddId");
		Radio_check("WhiteListTypeAddId");
		var input = document.getElementById("inputfile");
		input.value = '';
		if (!/safari/i.test(navigator.userAgent)) {
			input.type = '';
			input.type = 'file';
		}
		$.ajax({
			type: 'GET',
			url: GetMasterAppSiteItemUrl + "?Id=" + $("#ListId").val(),
			cache: false,
			success: function (data) {

				if (data.Type == "1" || data.Type == 1) {
					Radio_uncheck("BlockListTypeAddId");
					Radio_check("WhiteListTypeAddId");

				}
				else {
					Radio_uncheck("WhiteListTypeAddId");
					Radio_check("BlockListTypeAddId");


				}
				$("#ContentListItems").val(data.ContentListItems);

				$("#addAdvertiserAccountEventDialog").dialog("open");
				$('#addAdvertiserAccountEventDialog').dialog('option', 'title', EditMasterAppSiteItem);
			},
			error: function (data) {
				//alert("Somthing went worng please contact the admin");
				showErrorMessage(data.Message, true, "party-divErrorMessages");
				countcallAdv = 0;
			}
		})

	}


    function AdvertisersChanged(event, item) {


        if ((typeof (item) != "undefined") && (item != null)) {

            $('[name="AdvertiserId"]').val(item.ID);
        }
        else {
            $('[name="AdvertiserId"]').val('');
        }
        clearErrorMessage("party-divErrorMessages");

        $('input[id="CustomName"]').val($('input[id="Advertisers_Name"]').val());
    }
    var SaveAdvertiserUrl = '@Url.Action("SaveMasterAppSites", "Campaign")';
    var countcallAdv = 0;
	var invalididontentStr = "";

    function SaveAdvertiser() {
        //debugger;
		if (countcallAdv > 0) {
			return;

		}
		else {


			countcallAdv++;
		}

        //debugger;
        //if ($('[name="AdvertiserId"]').val() != "") {

        if ($('[name="CustomName"]').val().trim() != "") {
              
            var value = $('[name="CustomName"]').val().trim().toString().replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/'/g, "&#39;").replace(/"/g, "&#34;");

               // if ($('#ContentListItems').val().trim() != "") {
					if ($('#ContentListItems').val().trim() == "" ||  numberOfContentListItems($('#ContentListItems').val()) <= 50000) {
						if ($('#ContentListItems').val().trim() == "" ||  checkEachItems($('#ContentListItems').val().trim())) {
							var Type;
							if ($("input[Id='WhiteListTypeAddId']").attr("checked")) {
								Type = $("input[Id='WhiteListTypeAddId']").val();
							}
							else {
								Type = $("input[Id='BlockListTypeAddId']").val();
							}
							Spinner = getSpinnerType("addAdvertiserAccountEventDialog");
                            Spinner.showSpinner();
                            
							params = { name: value, Id: $('input[id="ListId"]').val(), LinkId: advertiseraccId, Type: Type, ContentListItems: $('#ContentListItems').val() };
                            params = JSON.stringify(params);

                            $.ajax({
                                type: 'POST',
                                url: SaveAdvertiserUrl,


                                contentType: 'application/json; charset=utf-8',
                                dataType: 'json',
                                data: params,
                                cache: false,
                                success: function (data) {
                                    Spinner.hideSpinner();
                                    //debugger;
                                    if (data.status == "success") {

                                        //refreshCampaignGrid();

                                        $("#addAdvertiserAccountEventDialog").dialog("close");
                                        //setTimeout(function () {
                                        //    location.reload(); 
                                        //}, 125);
										if ($('input[id="ListId"]').val().length >= 1)
											refreshCampaignGrid();
										else
											generateCampaignGrid();
                                        showNotfy("@Html.GetResource( "ContentListSavedSuccessfully", "Campaign")", "success", '', toastroptionsWithNoTime)
                                    } else if (data.status == "businessException") {
                                        showErrorMessage(data.Message, true, "party-divErrorMessages");

                                    } else {
                                        showErrorMessage(data.Message, true, "party-divErrorMessages");

                                    }
                                    countcallAdv = 0;
                                },
                                error: function (data) {
                                    //alert("Somthing went worng please contact the admin");
									Spinner.hideSpinner();
                                    showErrorMessage(data.Message, true, "party-divErrorMessages");
                                    countcallAdv = 0;
                                }
                            });
                        }
                        else {
							showErrorMessage(InvalidContent + "-Item:" + invalididontentStr, true, "party-divErrorMessages");
                            countcallAdv = 0;
                        }
                    }
                    else {
                        showErrorMessage(ContentListItemsOutOfRange, true, "party-divErrorMessages");
                        countcallAdv = 0;
                    }
                //}
                //else {
                //    showErrorMessage(ContentListItemsRequired, true, "party-divErrorMessages");
                //    countcallAdv = 0;
                //}
            } else {
                showErrorMessage(NameRequired, true, "party-divErrorMessages");
                countcallAdv = 0;
            }
		//}

		//else {


		//	showErrorMessage(AdvertiserRequired, true, "party-divErrorMessages");
		//	countcallAdv = 0;
		//}

    }



</script>
@model Noqoush.AdFalcon.Web.Controllers.Model.Advertiser.AdvertiserAccountListViewModelBase
@using (Html.BeginForm())
{

    @RenderSection("subheader")
    <div id="dialog-form" title="@Html.GetResource("Clone", "Commands")" style="display:none;">
        <span id="dialogText"></span>
    </div>

    @*<div style="display:none;" id="new-name-dialog-form" class="small-dialog" title="@Html.GetResource("Clone", "Commands")">
        <table>
            <tr>
                <td>
                    <span>@Html.GetResource("Name", "Global")</span>
                </td>
                <td>
                    @Html.AdFalconTextBox("clone_name", "")
                </td>
                <td>
                    <span name="valueRequiredErrorMsg" class="validation-arrow field-validation-error"
                          style="display: none;">
                        <span class="">@(string.Format(Html.GetResource("RequiredMessage", "ResourceSet"), 1, 100))</span>
                    </span>
                    <span name="MaxValueErrorMsg" class="validation-arrow field-validation-error"
                          style="display: none;">
                        <span class="">@Html.GetResource("GroupNamLengthMsg", "Msgs")</span>
                    </span>
                </td>
            </tr>
        </table>
    </div>*@
    <br />
    <div class="data-row section-container">
        <div class="data-row">
            <div class="col-sm-7" style="padding: 0px;">

                @if (Model.TopActions != null)
                {
                    Html.RenderPartial("PartialViews/Actions", Model.TopActions);
                }
            </div>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-4 col-sm-push-4">

                <table class="special-content">
                    <tr>
                        @*<td>
                            <span class="go-bold">@Html.GetResource("From", "Global")</span>
                        </td>
                        <td style="width: 110px;">
                            <input type="text" readonly="readonly" data-date="true" id="FromDate" name="FromDate"
                                   class="text-box range-date-cntl" />
                        </td>
                        <td>
                            <span class="go-bold">@Html.GetResource("To", "Global")</span>
                        </td>
                        <td style="width: 110px;">
                            <input type="text" readonly="readonly" data-date="true" id="ToDate" name='ToDate'
                                   class="text-box range-date-cntl left-range-cntrl" onchange="generateCampaignGrid()" />
                        </td>*@
                        <td>


                            <div class="field-container dropdown-toggle" data-toggle="collapse" data-target="#CampFilterCollapse" aria-expanded="false" onclick="showfilter()">
                                &nbsp;&nbsp;<a href="javaScript:void(0);" class="maximize AdvanceFilterIcon" onclick="" style="margin-top:0px" id="advfilterCamp"></a>

                            </div>
                        </td>

                    </tr>
                </table>
            </div>

        </div>



        <div class="data-row" style="overflow:visible">
            <div class="col-sm-7 col-sm-push-3 customDealsFilterShiftRight floating-right" style="padding: 0px;">
                @Html.Partial("MasterAppSite/MasterAppSiteFilter")
            </div>
        </div>

        <div class="grid-container">
            @RenderSection("Grid2")
        </div>
        @if (Model.BelowAction != null)
        {
            Html.RenderPartial("PartialViews/Actions", Model.BelowAction);
        }
    </div>

    @*<div id="addAdvertiserAccountEventDialog" class="adfalcon-dialog" title="@Html.GetResource("AddNewAdvertiser", "Advertiser")" style="display:none;overflow:visible">*@

	<div id="addAdvertiserAccountEventDialog" class="adfalcon-dialog" title="@Html.GetResource("AddNewContentAppSiteItem", "Global")" style="display:none;overflow:visible">
		<div class="data-row red-box" style="display:none" id="party-divErrorMessages">
			@{

				if (ViewBag.ErrorMessages != null)
				{
					foreach (var item in ViewBag.ErrorMessages)
					{
						<div class="data-row">
							<span class="msg-img"></span><span>@Html.Raw(item)</span>
						</div>
					}
				}
				if (TempData["TempErrorMessages"] != null)
				{
					var tempErrorMessages = TempData["TempErrorMessages"] as List<string>;
					foreach (var item in tempErrorMessages)
					{
						<div class="data-row">
							<span class="msg-img"></span><span>@Html.Raw(item)</span>
						</div>
					}
				}
			}
			@if (ViewData.ModelState != null && ViewData.ModelState.Where(p => p.Value.Errors.Count != 0).Count() != 0)
			{

				foreach (var item in ViewData.ModelState.Where(p => p.Value.Errors.Count != 0))
				{
					<div class="data-row">
						<span class="msg-img"></span><span>@Html.Raw(item.Value.Errors[0].ErrorMessage)</span>
					</div>
				}
			}
		</div>
		<br />


		@*<div class="data-row data-container">
			<div class="label-container">
				<span class="field-title required-field">@Html.GetResource("Advertiser", "Global")</span>
			</div>
			<div class="field-container">
				<input type="text" id="AdvertiserId" name='AdvertiserId'
					   style="display:none;" />
				@{
					var AdvertiserAutoComplete = ViewBag.AdvertiserAutoComplete as Noqoush.AdFalcon.Web.Controllers.Model.AutoComplete;
					@Html.Partial("Autocomplete", AdvertiserAutoComplete)
					<span class="floating-left">
						&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
					@Html.Partial("MoreInfo", "Selectadvertiser", new ViewDataDictionary { { "Class_Tail", "tail-report" }, { "Style2", "width: 380px; float:none;" } })

				}


			</div>

		</div>*@
		<div class="data-row data-container">
			<div class="label-container">
				<span class="field-title required-field">@Html.GetResource("Name", "Global")</span>
			</div>
			<div class="field-container">
				<input type="hidden" name="ListId" id="ListId" />
				<input type="text" name="CustomName" id="CustomName" maxlength="255" style="width: 150px;"  />

			</div>

		</div>
		<div class="data-row data-container">
			<div class="label-container">
				<span class="field-title required-field">@Html.GetResource("Type", "AppSite")</span>
			</div>
			<div class="field-container">
				@Html.GetRadioButton("TypeAddId", Html.GetResource("BlockList", "Global"), false, "floating-right iea-rbtn-width-b", value: "2", Id: "BlockListTypeAddId")
				@Html.GetRadioButton("TypeAddId", Html.GetResource("WhiteList", "Global"), true, "floating-right iea-rbtn-width-b", value: "1", Id: "WhiteListTypeAddId")


			</div>

		</div>

		<div class="data-row" >
			<div class="label-container">
				<label class="field-title required-field" ></label>
				
			</div>
			<div class="field-container" >

				<span class="required-field">@Html.GetResource("ContentMasterListsValidation", "Global")</span>
				<input type="file" id="inputfile"  accept=".csv, .txt" />
			</div>
		</div>
		<div class="data-row data-container" id="XMLDiv">
			<div class="label-container">
				&nbsp;&nbsp;&nbsp;&nbsp;
			</div>
			<div class="field-container" >

				@Html.TextArea("ContentListItems", new { @class = "text-box", @style = "width:430px;height:180px;" })
			</div>
		</div>
	</div>
    if (Model.ToolTips != null)
    {
        @Html.Partial("GridToolTop", Model.ToolTips)
    }
}
<script>
    function numberOfContentListItems(arrayOfLines) {
        var Lines = arrayOfLines.split('\n');
        var count = Lines.length;
        return count;

    }
    function checkEachItems(arrayOfLines) {
        
  
        var lines = arrayOfLines.split('\n');
        for (var i = 0; i < lines.length; i++) {
			if (!(isDomainURL(lines[i].trim()) || isBundle(lines[i].trim()) || lines[i] == "")) {
				invalididontentStr = lines[i].trim();

				return false;
			}
          
        }
        return true;
	}

	function FiltercheckEachItems(arrayOfLines) {

		var totalResult = '';
		var lines = arrayOfLines.split('\n');
		for (var i = 0; i < lines.length; i++) {
			if (!(isDomainURL(lines[i].trim()) || isBundle(lines[i].trim()) || lines[i] == ""))
				continue;
			else
				totalResult = totalResult + lines[i].trim() + "\n";

		}
		return totalResult;
	}
    function isDomainURL(str) {

        var pattern = new RegExp(/^(?!:\/\/)([a-zA-Z0-9]+\.)?[a-zA-Z0-9][a-zA-Z0-9-]+\.[a-zA-Z]{2,6}?$/i);

        return pattern.test(str);
	}



	function isBundle(str) {


		var reg2 = new RegExp('^\\d+$');
		var pattern = new RegExp('^\[a-z]+\.[a-z]+\.[a-z0-9]+$');
		var pattern2 = new RegExp('^\[a-z]+\.[a-z]+\.[a-z]+\.[a-z0-9]+$');

		var pattern3 = /^([A-Za-z]{1}[A-Za-z\d_]*\.)*[A-Za-z][A-Za-z\d_]*$/g;





		return pattern.test(str) || reg2.test(str) || pattern2.test(str) || pattern3.test(str);

	}


</script>