@model Noqoush.AdFalcon.Administration.Web.Controllers.Model.Campaign.CampaignBidConfigModel
@{
    ViewBag.Title = @Html.GetResource("CampaignBidConfig", "Titles");
}
<script language="javascript" type="text/javascript">

    function ShowAdvancedSearch() {

        if (!$("#tr_one_Advanced_Search").is(":visible")) {
            $("#adv").attr("class", "minimize");
            $("#search").attr("style", "height:150px;width:100%");

            $("#tr_one_Advanced_Search").show();
            $("#tr_two_Advanced_Search").show();
        } else {
            $("#adv").attr("class", "plusicon");
            $("#search").attr("style", "height:80px;width:100%");

            $("#tr_one_Advanced_Search").hide();
            $("#tr_two_Advanced_Search").hide();

            $("#tr_one_Advanced_Search input").val("");
            $("#tr_two_Advanced_Search input").val("");
            $("#TypeId option:eq(0)").attr("selected", true);
        }

    }



</script>
@using (Html.BeginForm("CampaignBidConfig"))
{
    @Html.Hidden("CampaignId", Model.CampaignId)
    @Html.Hidden("DeletedCampaignBidConfigs", "")
    @Html.Hidden("InserteCampaignBidConfigs", "")
    @Html.Hidden("UpdatedCampaignBidConfiges", "")


    <div class="data-row section-container" id="form">
        <div class="data-row section-container">
            <div class="data-row tab-container">
                @{
    var tabs = new List<Noqoush.AdFalcon.Web.Controllers.Model.Tab>
            { new Noqoush.AdFalcon.Web.Controllers.Model.Tab { IsSelected = false, Action = new Noqoush.AdFalcon.Web.Controllers.Model.Action() { DisplayText = Html.GetResource("Campaigninfo", "Titles"), ActionName = "Create", ExtraPrams = ViewContext.RouteData.Values["id"], IsSelected = true } },
            new Noqoush.AdFalcon.Web.Controllers.Model.Tab { IsSelected = false, Action = new Noqoush.AdFalcon.Web.Controllers.Model.Action() { DisplayText = Html.GetResource("Settings", "Commands"), ActionName = "Settings", ExtraPrams = ViewContext.RouteData.Values["id"], IsSelected = true } },
            new Noqoush.AdFalcon.Web.Controllers.Model.Tab { IsSelected = false, Action = new Noqoush.AdFalcon.Web.Controllers.Model.Action() { DisplayText = Html.GetResource("AdvancedSettings", "Commands"), ActionName = "ServerSetting", ExtraPrams = ViewContext.RouteData.Values["id"], IsSelected = true } },
            new Noqoush.AdFalcon.Web.Controllers.Model.Tab { IsSelected = false, Action = new Noqoush.AdFalcon.Web.Controllers.Model.Action() { DisplayText = Html.GetResource("CampaignAssignAppsites", "Commands"), ActionName = "CampaignAssignAppsites", ExtraPrams = ViewContext.RouteData.Values["id"], IsSelected = true, } }, //var costModels = ViewBag.CostModels as List<SelectListItem>; }
            new Noqoush.AdFalcon.Web.Controllers.Model.Tab { IsSelected = true, Action = new Noqoush.AdFalcon.Web.Controllers.Model.Action() { DisplayText = Html.GetResource("CampaignBidConfig", "Commands"), ActionName = "CampaignBidConfig", ExtraPrams = ViewContext.RouteData.Values["id"], IsSelected = true }  }};
            @Html.Partial("Tabs", tabs)
                }
            </div>
        </div>
        <br />

        <div class="data-row">
            <div class="blue-filter-container" style="height: 80px;width:100%" id="search">
                <table class="" style="width:100%">
                    <tbody>
                        <tr>
                            <td>
                                <span class="go-bold" style="width:100%">@Html.GetResource("NameColumn", "AppSite")</span>

                            </td>
                            <td width="250px">
                                <input class="text-box" style="width:90%" id="Name" name="Name" type="text" value="">

                            </td>

                            <td>
                                <span class="go-bold" style="width:90%">@Html.GetResource("Name", "AppSite")</span>

                            </td>

                            <td width="250px">
                                <input class="text-box" style="width:90%" id="AppSiteName" name="Name" type="text" value="">
                            </td>
                            <td>

                                <span class="go-bold" style="width:90%">@Html.GetResource("SubPublisherId", "CampaignAssignAppsites")</span>


                            </td>
                            <td width="250px">
                                <input class="text-box" style="width:90%" id="SubPublisher" name="Name" type="text" value="">
                            </td>

                            <td>
                                <a href="javaScript:void(0);" class="plusicon" onclick="ShowAdvancedSearch()" id="adv">@Html.GetResource("Add", "Keywords")</a>
                            </td>

                        </tr>

                    </tbody>
                </table>
                <div id="tr_one_Advanced_Search" style="display:none;width:100%">
                    <table id="tr_one_Advanced_Searchs" style="display:block;width:100%">
                        <tr>
                            <td>
                                <span class="go-bold">@Html.GetResource("From", "Global")</span>
                            </td>
                            <td style="width: 110px;">
                                <input type="text" readonly="readonly" value="@(string.Empty)" data-date="true" name="DateFrom" id="DateFrom"
                                       class="text-box range-date-cntl" />
                            </td>
                            <td>
                                <span class="go-bold">@Html.GetResource("To", "Global")</span>

                            </td>
                            <td style="width: 80px;">
                                <input type="text" readonly="readonly" value="@(string.Empty)" data-date="true" name="DateTo" id="DateTo"
                                       class="text-box range-date-cntl left-range-cntrl" />
                            </td>
                            <td width="120px">
                                <span class="go-bold" style="width:100%">@Html.GetResource("Type", "AppSite")</span>
                            </td>
                            <td width="200px">
                                <span style="width:100%">@Html.DropDownList("TypeId", Model.Types, new { style = "width:100%" })</span>

                            </td>
                            <td width="210px"></td>
                        </tr>
                    </table>
                    <table id="tr_two_Advanced_Search" style="display:block;width:100%">
                        <tr>
                            <td style="">
                                <span class="go-bold" style="width:90%">@Html.GetResource("AccountId", "Impersonate")</span>

                            </td>
                            <td style="width: 250px">
                                <input class="text-box" style="width:90%" id="AccountId" name="Name" onkeypress="AccountIdKeyPress(event)" value="">
                            </td>
                            <td width="10px"></td>
                            <td>
                                <span class="go-bold" style="width:90%">@Html.GetResource("email", "Global")</span>

                            </td>
                            <td style="width: 250px">
                                <input class="text-box" style="width:90%" id="Email" name="Name" type="text" value="">

                            </td>

                            <td width="200px"></td>
                            <td width="210px"></td>
                        </tr>
                    </table>
                </div>
                <table class="" style="width:100%">
                    <tbody style="width:100%">

                        <tr>
                            <td class="go-right" colspan="6">
                                <input type="button" onclick="resetPageination('Accounts'); getUsersList(1,10);" name="Filter" value='@Html.GetResource("Filter")' class="btn filter-button " />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        @*</div>

            </div>*@
        <br />
        <div class=" floating-left go-center" style="width: 30%; margin-top: 10px;">
            <span class="t-widget t-grid th t-header floating-left" floating-left" style="width: 250px !important; font-weight: bold;font-size: 12px; color:  black;height: 30px;">@Html.GetResource("Accounts", "CampaignBidConfig")</span>
            @Html.ListBoxFor(x => Model.Accounts, new SelectList(Model.Accounts, "Id", "Name"), new { @class = "cloud-area text-box-like-container", style = "width: 250px;height :200px;margin-top:0px;background: none !important; border-radius: 0px;", onchange = "OnSelecAccounts(this)", @size = 10, @multiple = false })

            @{
    ViewDataDictionary viewDataDoc = new ViewDataDictionary();
    viewDataDoc.Add("ControlId", "Accounts");
    viewDataDoc.Add("BindListFunct", "getUsersList");
    viewDataDoc.Add("Width", "235.8px");
    Html.RenderPartial("PartialViews/Pagging", viewDataDoc);
            }
        </div>

        <div class=" floating-left go-center" style="width: 30%; margin-top: 10px;">
            <span class="t-widget t-grid th t-header floating-left" floating-left" style="width: 250px !important; font-weight: bold;font-size: 12px; color:  black;height: 30px; ">@Html.GetResource("AppSites", "CampaignBidConfig")</span>
            @Html.ListBoxFor(x => Model.AppSites.Items, new SelectList(Model.AppSites.Items, "Id", "Name"), new { @class = "cloud-area text-box-like-container", style = "width: 250px;height :200px;margin-top:0px;background: none !important;border-radius: 0px;", onchange = "OnSelectAppSite(this)", @size = 10, @multiple = false })
            @{
    ViewDataDictionary viewAppSiteItemsDataDoc = new ViewDataDictionary();
    viewAppSiteItemsDataDoc.Add("ControlId", "AppSites_Items");
    viewAppSiteItemsDataDoc.Add("BindListFunct", "GetAppSiteList");
    viewAppSiteItemsDataDoc.Add("Width", "235.8px");
    Html.RenderPartial("PartialViews/Pagging", viewAppSiteItemsDataDoc);
            }
        </div>

        <div class="floating-left go-center" style="width: 30%; margin-top: 10px;">
            <span class="t-widget t-grid th t-header floating-left" floating-left" style="width: 250px !important; font-weight: bold;font-size: 12px; color:  black;height: 30px; ">@Html.GetResource("SubPublishers", "CampaignBidConfig")</span>
            @Html.ListBox("subPublishers", Model.SubPublishers, new { @class = "cloud-area text-box-like-container", style = "width:250px;height :200px;margin-top:0px;background: none !important;border-radius: 0px;" })

        </div>
        <di class="floating-left" style="width: 4% ; padding: 0px 10px 0px  10px;margin-top: 50px;">
            <input type="button" value=">" id="btnSelectSubPublisher" style="width: 30px;" onclick="selectSubPublishers();" />
        </di>

        <div id="gridDivBidConfig" class="floating-left grid-containe" style="margin-top : 20px;width: 800px;height: 300px;">
            @(Html.Telerik().Grid(Model.CampaignBidConfigList).Name("CampaignBidConfigList").NoRecordsTemplate("&nbsp;").TableHtmlAttributes(new { width = "800px" })
        .DataKeys(p => p.Add(o => o.ID))
        .EnableCustomBinding(true)
        .Editable(ed => ed.Mode(GridEditMode.InCell).DisplayDeleteConfirmation(false)
        .DefaultDataItem(new Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign.CampaignBidConfigDto()))
        .Columns(columns =>
        {

            columns.Bound(o => o.Appsite.ID).Hidden();
            columns.Bound(o => o.AccountId).Hidden();
            columns.Bound(o => o.AccountName).Width("150px").Visible(true).Title(Html.GetResource("AccountName", "CampaignBidConfig")).ReadOnly();
            columns.Bound(o => o.Appsite.Name).Width("150px").Visible(true).Title(Html.GetResource("Name", "AppSite")).HtmlAttributes(new { style = " max-width: 200px ; overflow : hidden; text-overflow: ellipsis; white-space: nowrap;" }).ReadOnly();
            columns.Bound(o => o.SubPublisher).Title(Html.GetResource("SubPublisher", "CampaignBidConfig"))
            .Template(r => Html.Label("SubPublisher",
            (string.IsNullOrEmpty(r.SubPublisher) || r.SubPublisher == null) ? Html.GetResource("All", "CampaignAssignAppsites") : r.SubPublisher, new { id = "SubPublisher" }).ToString())
            .Width("100px").ReadOnly();
            columns.Bound(o => o.SubPublisherId).Hidden().ReadOnly(); ;
            columns.Bound(o => o.Bid).Title(Html.GetResource("Bid", "Campaign")).Template(
            r => Html.AdFalconTextBox("Bid" + r.ID, r.Bid.ToString("F3"), new
            {
                @class = "required text-box ",
                maskType = "decimal",
                onchange = "BidValue_Changed(this);",
                onfocus = "onBid_select(this);"
               ,
                onkeypress = "onbidpress(event,this)"
            }).ToString() +
            "<span class='field-validation-error' style='display: none;'><span>" + Html.GetResource("CurrencyMsg", "ResourceSet") + "</span></span>"
                //  Html.AdFalconValidationMessage("Bid" + r.ID).ToString()
            ).ReadOnly()
            .HtmlAttributes(new { @class = "small-big-field", style = "width: 100px ;  " })
            .ClientTemplate(
            Html.AdFalconTextBox("Bid", "", new
            {
                //    @class = "required text-box input-validation-error",
                maskType = "decimal",
                onchange = "BidValue_Changed(this);",
                onfocus = "onBid_select(this);"
               ,
                onkeypress = "onbidpress(event,this)",
                style = "width: 100px ;  "
            }).ToString()
            +
            "<span  class='field-validation-error' style='display: none;'><span>" + Html.GetResource("CurrencyMsg", "ResourceSet") + "</span></span>"

            //  Html.AdFalconValidationMessage("Bid").ToString()
            )
            .HtmlAttributes(new { @class = "small-big-field", style = "width: 100px ;  " }).ReadOnly();
            columns.Template(@<text>
                <div><a class='t-button t-button-icon t-button-bare t-grid-delete' onclick='deleteAssignedAppsites(this);'><span class='t-icon t-delete'></span></a></div>
            </text>)
        .ClientTemplate("<div><a class='t-button t-button-icon t-button-bare t-grid-delete' type='button' onclick='deleteAssignedAppsites(this);'><span class='t-icon t-delete'></span></button></div>").Width("5px");

        })
.DataBinding(dataBinding =>
{
    dataBinding.Server().Select("GetCampaignBidConfigs", "Campaign", new { ajax = true });
    dataBinding.Ajax().Select("GetCampaignBidConfigs", "Campaign");

}).ClientEvents(events => events.OnComplete("CampaignBidGrid_onComplete")).ClientEvents(e => e.OnDataBinding("CampaignBidGrid_OnDataBinding")).ClientEvents(e => e.OnDataBound("CampaignBidGrid_OnDataBound"))
.Scrollable(scrolling => scrolling.Enabled(false)).EnableCustomBinding(true))
        </div>


        <div class="data-row button-container">
            <input type="submit" name="AssignAppsites" value='@Html.GetResource('Save', 'Commands')' onclick="return validateGridBidsValues('CampaignBidConfigList');" class="primary-btn" />
        </div>
    </div>

    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('#AppSites_Items').removeAttr('multiple');
            $('#Accounts').removeAttr('multiple');
            //  SetBidClientRegExp();
            SetGridHieght();

        });
        function CampaignBidGrid_onComplete(e) {
            if (e.name == "dataBinding") {
                $('#DeletedCampaignBidConfigs').val('');
                $('#InserteCampaignBidConfigs').val('');//;
                $('#UpdatedCampaignBidConfiges').val('');
            }
            SetGridHieght();
        }
        function CampaignBidGrid_OnDataBinding(e) {
            SetGridHieght();
        }
        function CampaignBidGrid_OnDataBound(sender, args) {

            var grid = $("#CampaignBidConfigList").data("tGrid");
            array = $("#CampaignBidConfigList tbody tr");
            for (var i = 0; i < array.length; i++) {
                dataItem = grid.dataItem(array[i]);
                if (dataItem != undefined) {
                    if (dataItem.Bid != "") {
                        $(array[i]).find("#Bid")[0].value = parseBidValue(dataItem.Bid);
                    }
                    if (dataItem.SubPublisher == "" || dataItem.SubPublisher == null) {
                        $(array[i]).find("td")[4].innerText = '@Html.GetResource("All", "CampaignAssignAppsites")';
                    }

                }
            }
        }

        function parseBidValue(value) {
            return parseFloat(value).toFixed(3);
        }

        function localInitilize() {
            var pagingControls = [];
            jQuery('input[data-date="true"]')
                .daterangepicker({ dateFormat: '@Noqoush.AdFalcon.Web.Controllers.Utilities.Config.ClientShortDateFormat', posX: 295, posY: 295 });
        }

        function GetSiteSearchModelCriteria() {
            var appSiteSearchModel = new Object();
            appSiteSearchModel.DateFrom = $('#DateFrom').val();
            appSiteSearchModel.DateTo = $('#DateTo').val();
            appSiteSearchModel.IgnoreIsPrimaryUser = true;
            appSiteSearchModel.TypeId = $('#TypeId').val();
            appSiteSearchModel.AppSiteName = $('#AppSiteName').val();
            appSiteSearchModel.Name = $('#Name').val();
            appSiteSearchModel.Email = $('#Email').val();
            appSiteSearchModel.AccountId = $('#AccountId').val();
            appSiteSearchModel.SubPublisher = $("#SubPublisher").val();
            return appSiteSearchModel;
        }

        var getUsersListActionUrl = '@Url.Action("AccountSearch", "Campaign")';
        function getUsersList(pageNum, pageSize) {
            resetPageination('AppSites_Items');
            pageSize = 10;
            $('#AppSites_Items').empty();
            $('#subPublishers').empty();
            $('#Accounts').empty();

            Spinner = getSpinnerType("form");
            Spinner.showSpinner();

            var appSiteSearchModel = GetSiteSearchModelCriteria();// new Object();
            appSiteSearchModel.Page = pageNum;
            appSiteSearchModel.Size = pageSize;

            $.ajax({
                type: 'POST',
                data: appSiteSearchModel,
                url: getUsersListActionUrl,
                success: function (data) {
                    Spinner.hideSpinner();
                    rebindAccountList(data.Items);
                    getNumberOfRows(data.TotalCount, "Accounts");

                }
            });

        }

        var getAppSubPublishersUrl = '@Url.Action("GetAppSubPublishers", "Campaign")';
        function OnSelectAppSite(sender) {

            selected = $('#AppSites_Items :selected')[0];
            appsiteId = selected.value;
            appsiteText = selected.text;
            Spinner.showSpinner();
            subPublisherId = $("#SubPublisher").val();

            $.ajax({
                type: 'POST',
                data: {
                    AppSiteId: appsiteId,
                    SubPublisherId: subPublisherId
                },
                url: getAppSubPublishersUrl,
                success: function (data) {
                    rebindSubPublishers(data, appsiteId, appsiteText);
                    Spinner.hideSpinner();
                }
            });

        }

        function OnSelecAccounts(sender) {

            $('#AppSites_Items').empty();
            $('#subPublishers').empty();
            GetAppSiteList(1, 10);
            resetPageination('AppSites_Items');
        }
        var getAppsUrl = '@Url.Action("GetAppSitesByAccountId", "Campaign")';

        function GetAppSiteList(pageNum, pageSize) {

            selected = $('#Accounts :selected')[0];
            accountId = selected.value;
            var appSiteSearchModel = GetSiteSearchModelCriteria();// new Object();
            appSiteSearchModel.Page = pageNum;
            appSiteSearchModel.Size = pageSize;
            appSiteSearchModel.IgnoreIsPrimaryUser = true;
            appSiteSearchModel.AccountId = accountId;
            Spinner.showSpinner();

            $.ajax({
                type: 'POST',
                data: appSiteSearchModel,
                url: getAppsUrl,
                success: function (data) {
                    rebindAppsites(data.Items);
                    Spinner.hideSpinner();
                    getNumberOfRows(data.TotalCount, "AppSites_Items");
                }
            });
        }

        function rebindAppsites(apps) {

            $('#AppSites_Items').empty();
            $.each(apps, function (index, value) {
                $('#AppSites_Items').append($('<option>').text(value.Name).val(value.Id));
            });
        }

        function SetGridHieght() {
            if ($("#CampaignBidConfigList tbody tr").length > 5) {
                $("#gridDivBidConfig").attr("style", "margin-top:20px;width:800px;height:250px;overflow:scroll;");
            }
        }

        var getPriceModelUrl = '@Url.Action("GetAppSitePriceModel", "Campaign")';

        function getPriceModel() {

            var selectedAppsite = jQuery('#AppSites_Items :selected');
            var id = selectedAppsite.val();
            

            $.ajax({
                type: 'POST',
                data: id,
                url: getPriceModelUrl,
                success: function (data) {
                    
                    selectSubPublishers();
                
                }
            })


        }

        function selectSubPublishers() {
            SetGridHieght();
            var selectedSubpublisher = jQuery("#subPublishers :selected");

            selectedAppsite = jQuery('#AppSites_Items :selected');
            selectedAccount = jQuery('#Accounts :selected');
            subPiblisherId = selectedSubpublisher.val();
            if (subPiblisherId == '')
                subPiblisherId = null;
            var list = [];
            var grid = $("#CampaignBidConfigList").data("tGrid");
            selectedSubpublisher.each(function (i, selected) {
                if (!IsAdded(selectedAccount.val(), subPiblisherId, selectedAppsite.val())) {

                    dataItem = { "AccountId": selectedAccount.val(), "AccountName": selectedAccount.text(), "SubPublisherId": subPiblisherId, "SubPublisher": $(selected).text(), "Bid": 0 };
                    dataItem.Appsite = { "ID": selectedAppsite.val(), "Name": selectedAppsite.text() };
                    grid.insertRow(dataItem);
                    list[i] = dataItem;
                }
            });

            getAssignedAppsites();


        }

        function rebindSubPublishers(subPublishers, appsiteId, appsiteText) {
            var container = jQuery("#subPublishers");
            container.empty();

            container.append($('<option>').text("All").val(null));
            $.each(subPublishers, function (index, value) {
                container.append($('<option>').text(value).val(value));
            });
        }

        function rebindAccountList(apps) {
            $('#Accounts').empty();
            $.each(apps, function (index, value) {
                $('#Accounts').append($('<option>').text(value.AccountName).val(value.AccountId));
            });
        }

        var updatedArrary = new Array();
        // AliD review
        function getUpdated(rowUpdated, bidValue) {

            var grid = $("#CampaignBidConfigList").data("tGrid");
            updatedData = grid.dataItem(rowUpdated);
            if (updatedData == undefined) {//incase modify new item
                for (var i = 0; i < grid.insertedDataItems().length; i++) {
                    dataItem = grid.insertedDataItems()[i];
                    var subPiblisherId = rowUpdated.find("td")[5].innerText;
                    if (subPiblisherId == '')
                        subPiblisherId = null;
                    if (dataItem.AccountId == rowUpdated.find("td")[1].innerText && dataItem.SubPublisherId == subPiblisherId && dataItem.Appsite.ID == rowUpdated.find("td")[0].innerText) {
                        dataItem.Bid = bidValue;
                    }
                }
                getAssignedAppsites();
                return;
            }
            updatedData.Bid = bidValue;
            var isExist = false;
            for (var i = 0; i < updatedArrary.length; i++) {
                if (rowUpdated.ID == updatedArrary[i].ID) {
                    updatedArrary[i] = updatedData;
                    isExist = true;
                }
            }
            if (!isExist) {
                updatedArrary[updatedArrary.length] = updatedData;
            }
            $('#UpdatedCampaignBidConfiges').val(jQuery.toJSON(updatedArrary));
        }

        function getAssignedAppsites() {
            var grid = $('#CampaignBidConfigList').data("tGrid");
            if (grid == null)
                return;
            if (grid.changeLog.dirty()) {
                var inserted = new Array();
                var deletedIPRangeIds = '';
                for (var i = 0; i < grid.changeLog.inserted.length; i++) {
                    inserted[inserted.length] = grid.changeLog.inserted[i];
                }

                for (x = 0; x < grid.changeLog.deleted.length; x++) {
                    if (typeof (grid.changeLog.deleted[x]) != "undefined") {
                        deletedIPRangeIds += '&' + grid.changeLog.deleted[x].ID;// grid.changeLog.deleted[x].Appsite.ID + "," + grid.changeLog.deleted[x].SubPublisherId;
                    }
                }
                $('#InserteCampaignBidConfigs').val(jQuery.toJSON(inserted));//;JSON.stringify(inserted));
                $('#DeletedCampaignBidConfigs').val(deletedIPRangeIds);
            } else {

                $('#DeletedCampaignBidConfigs').val("");
                $('#InserteCampaignBidConfigs').val("");
            }
            //  SetBidClientRegExp();
        }

        function deleteAssignedAppsites(elem) {
            
            var grid = $("#CampaignBidConfigList").data("tGrid");
            var tr = $(elem).parents('tr');
            // delete the row
            grid.deleteRow(tr);
            getAssignedAppsites();
        }

        function onBid_select(elem) {
            $(elem).select();
            $(elem).attr("isSelectContent", true);// = true;
        }

        function BidValue_Changed(elem) {
            onbidchange(elem);
            var grid = $("#CampaignBidConfigList").data("tGrid");
            var tr = $(elem).parents('tr');
            isvalidBid = validateBidValue(elem, elem.value);
            if (isvalidBid) {
                elem.value = parseFloat(elem.value).toFixed(3);
            }
            // elem.value = parseFloat(elem.value).toFixed(2);
            if (isvalidBid) {
                getUpdated(tr, elem.value);
            }


        }

        function IsAdded(accountId, subPiblisherId, appSiteId) {
      
            var grid = $('#CampaignBidConfigList').data("tGrid");
            if (grid == null)
                return;
            if (grid.changeLog.dirty()) {
                for (var i = 0; i < grid.changeLog.inserted.length; i++) {
                    if (grid.changeLog.inserted[i].AccountId == accountId && grid.changeLog.inserted[i].SubPublisherId == subPiblisherId && grid.changeLog.inserted[i].Appsite.ID == appSiteId) {
                        return true;
                    }
                }

                for (var y = 0; y < grid.changeLog.deleted.length; y++) {
                    if (typeof (grid.changeLog.deleted[y]) != "undefined") {
                        if (grid.changeLog.deleted[y].AccountId == accountId && grid.changeLog.deleted[y].SubPublisherId == subPiblisherId && grid.changeLog.deleted[y].Appsite.ID == appSiteId) {
                            return false;
                        }
                    }
                }
            }
            array = $("#CampaignBidConfigList tbody tr");
            for (var i = 0; i < array.length; i++) {
                dataItem = grid.dataItem(array[i]);
                if (dataItem != undefined) {
                    if (dataItem.AccountId == accountId && dataItem.SubPublisherId == subPiblisherId && dataItem.Appsite.ID == appSiteId) {
                        return true;
                    }
                }
            }
            return false;
        }

        function validateGridBidsValues() {
            var grid = $("#CampaignBidConfigList").data("tGrid");
            array = $("#CampaignBidConfigList tbody tr");
            var isValid = true;
            for (var i = 0; i < array.length; i++) {
                dataItem = grid.dataItem(array[i]);
                var bidTextBox = "";
                if (dataItem != undefined) {
                    bidTextBox = $(array[i]).find("#Bid" + dataItem.ID);
                }
                else {
                    bidTextBox = $(array[i]).find("#Bid");
                }
                if (bidTextBox.length > 0 && !IsBidValidDecimalExpression(bidTextBox.val()) || bidTextBox.val() == "" || bidTextBox.val() == parseBidValue(0)) {
                    bidTextBox.addClass("input-validation-error");
                    isValid = false;
                }
            }
            return isValid;
        }

        function validateBidValue(elem, bidValue) {
            //var isBid = new RegExp('^\\$?\\d{1,5}(\\.(\\d{1,3}))?$');
            //isValidBid = isBid.test(bidValue);
            isValidBid = IsBidValidDecimalExpression(bidValue);
            //if (!isValidBid)
            //jQuery(elem).parents('td').find('.field-validation-error').show();//
            //else {
            //    jQuery(elem).parents('td').find('.field-validation-error').hide();//
            //}
            return isValidBid;
        }
    </script>
}
