@using Noqoush.AdFalcon.Domain.Common.Model.Campaign
@model  Noqoush.AdFalcon.Web.Controllers.Model.Campaign.CreativeUnitLisViewModel
@{

}


<div class="section-form-inner-container info-container p-0">
    <div class="ad-banner-container-right floating-right">
    </div>
	@if(AdTypeIds.Banner== Model.TypeId)
	{
	<text><div class="ad-banner-container-left w-100 card-columns">
	</text>


}
else if (AdTypeIds.RichMedia == Model.TypeId && AdSubTypes.ExpandableRichMedia == Model.AdSubType)
{


<text><div class="ad-banner-container-left w-100 card-columns">
</text>
}
else
{
<text><div class="ad-banner-container-left">
</text>

}

@*<br />*@
@{
	/**/


	foreach (var creativeUnit in Model.CreativeUnits)
	{
        creativeUnit.IsAllowedToSaveImpressionTracker = Model.IsAllowedToSaveImpressionTracker;
		switch (Model.TypeId)
		{
			case AdTypeIds.NativeAd:
				{
					@Html.Partial("Creative/CreativeUnit/BannerCreativeUnit", creativeUnit)
					break;
				}
			case AdTypeIds.Banner:
				{
					ViewDataDictionary viewDataDoc = new ViewDataDictionary();
					if (Noqoush.AdFalcon.Web.Controllers.Utilities.Config.IsAdOpsAdmin || (creativeUnit.DocumentId.HasValue && !string.IsNullOrEmpty(creativeUnit.ImpressionTrackerRedirect)))
					{
						viewDataDoc.Add("ShowImpressionTracker", true);
					}

					@Html.Partial("Creative/CreativeUnit/BannerCreativeUnit", creativeUnit, new ViewDataDictionary(viewDataDoc))
					;

					break;
				}
			case AdTypeIds.PlainHTML:
				{
					@Html.Partial("Creative/CreativeUnit/HTMLCreativeUnit", creativeUnit)
					break;
				}
			case AdTypeIds.RichMedia:
				{
					switch (Model.AdSubType)
					{
						case AdSubTypes.HTML5Interstitial:
						case AdSubTypes.HTML5RichMedia:
							{
								@Html.Partial("Creative/CreativeUnit/HTML5CreativeUnit", creativeUnit)
								break;
							}
						case AdSubTypes.ExpandableRichMedia:
							{
								@Html.Partial("Creative/CreativeUnit/ExpandableCreativeUnit", creativeUnit)
								break;
							}
						case AdSubTypes.JavaScriptRichMedia:
							{
								@Html.Partial("Creative/CreativeUnit/JavaScriptCreativeUnit", creativeUnit)
								break;
							}
						case AdSubTypes.JavaScriptInterstitial:
							{
								@Html.Partial("Creative/CreativeUnit/JavaScriptCreativeUnit", creativeUnit)
								break;
							}
						case AdSubTypes.ExternalUrlInterstitial:
							{
								@Html.Partial("Creative/CreativeUnit/ExternalUrlCreativeUnit", creativeUnit)
								break;
							}
					}
					break;
				}
			case AdTypeIds.InStreamVideo:
				{

					if (Model.isVideoEndCard)
					{
						@Html.Partial("Creative/CreativeUnit/BannerCreativeUnit", creativeUnit)


					}
					else
					{
						@Html.Partial("Creative/CreativeUnit/InStreamVideoCreativeUnit", creativeUnit)
					}
					break;
				}
		}
	}
}
</div>
</div>
