@model  ArabyAds.AdFalcon.Web.Controllers.Model.Campaign.CreativeViewModel
<div id="urlDetailsContainer">
    @if (Model.AdCreativeDto.ID == 0 || Model.AdCreativeDto.TypeId != ArabyAds.AdFalcon.Domain.Common.Model.Campaign.AdTypeIds.PlainHTML)
    {
        <script type="text/javascript" language="javascript">
            jQuery(document).ready(function () {
                $('#AdCreativeDto_AdActionValue_Value2').change(ValidateAdAction);
                $('#AdCreativeDto_AdActionValue_Value').change(ValidateAdAction);
            });
            function ValidateAdAction() {
                var returnvalue = true;

                //check if display url is empty
                var val2 = $('#AdCreativeDto_AdActionValue_Value2').val();
                if ((val2 == null) || $.trim(val2) == '') {
                    $('#displayURLRequiredMsg').show();
                    returnvalue = false;
                } else {
                    $('#displayURLRequiredMsg').hide();
                }
                //check if  url is valid
                var temp = ValidateUrl($('#AdCreativeDto_AdActionValue_Value'));
                var temp1 = ValidateUrl($('#AdCreativeDto_AdActionValue_Value2'), 'displayURLErrorMsg2');

                return returnvalue && temp && temp1;
            };
            var validateRM_AdAction = ValidateAdAction;
        </script>
        <div class="data-row data-container">
            <div class="label-container">
                <span class="field-title required-field">@Html.GetResource("VideoURL")</span>
            </div>
            <div class="field-container">
                @Html.AdFalconEditorFor(p => p.AdCreativeDto.AdActionValue.Value, new { @class = "url" })
                @Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.AdActionValue.Value)

                <span id="displayURLErrorMsg" class="validation-arrow field-validation-error"
                    style="display: none;"><span class="">@Html.GetResource("UrlMsg")</span> </span>
            </div>
        </div>
        <div class="data-row data-container">
            <div class="label-container">
                <span class="field-title required-field">@Html.GetResource("DisplayURL")</span>
            </div>
            <div class="field-container">
                @Html.AdFalconEditorFor(p => p.AdCreativeDto.AdActionValue.Value2)
                <span id="displayURLRequiredMsg" class="validation-arrow field-validation-error"
                    style="display: none;"><span class="">@Html.GetResource("RequiredMessage", "ResourceSet")</span> </span>
                <span id="displayURLErrorMsg2" class="validation-arrow field-validation-error"
                    style="display: none;"><span class="">@Html.GetResource("UrlMsg")</span> </span>
            </div>
        </div>
    }
</div>

