@{
    ViewBag.Title = Html.GetResource("IndexAppSite", "Titles");
}
<script language="javascript" type="text/javascript">

    function generatePartyGrid() {
        var grid = $("#partyGrid").data("tGrid");
        grid.rebind();
    };
    function PartyGridDataBinding(args) {
        args.data = $.extend(args.data,
            {
                Prefix: $('#PartyName').val(),
                id: $('#PartyType').val()
            });
    };
    function PartyGridDataBound(e) {
        var grid = $("#partyGrid").data("tGrid");
        //if not first page and the no data then try load first page
        if ((grid.data.length == 0) && (grid.currentPage > 1)) {
            e.preventDefault();
            grid.pageTo(1);
        }
    };
    var partyID, partyName;
    function onRowSelected(e) {

        partyID = jQuery(e.row.cells[0]).text();
        partyName = jQuery(e.row.cells[1]).text();
        selectParty();
    }
    function selectParty() {
        changeParty(partyID, partyName);
    }
</script>
@using Noqoush.AdFalcon.Web.Controllers.Utilities
@model Noqoush.AdFalcon.Web.Controllers.Model.Core.Party.ListViewModel
@{
    var typysList = new List<SelectListItem> { new SelectListItem{
                                                  Value = "account",
                                                  Text = ResourcesUtilities.GetResource("Account","Party"),
                                                  Selected=true
                                              },
                                              new SelectListItem{
                                                  Value = "employee",
                                                  Text = ResourcesUtilities.GetResource("Employee","Party"),
                                                  Selected=true
                                              },
                                               new SelectListItem{
                                                  Value = "businesspartner",
                                                  Text = ResourcesUtilities.GetResource("BusinessPartner","Party"),
                                                  Selected=true
                                              }
    };
}
<div>
    <div class="data-row go-center">
        <div class="blue-filter-container">
            <table class="special-content">
                <tr>
                    <td>
                        <span class="go-bold">@Html.GetResource("Name")</span>
                    </td>
                    <td class="go-left" colspan="4">
                        <span class="searchform-textfield">@Html.AdFalconTextBox("PartyName")</span>
                    </td>
                    <td>
                        <span class="go-bold">@Html.GetResource("Type")</span>
                    </td>
                    <td class="go-left" colspan="4">
                        <span class="searchform-textfield">@Html.AdFalconDropDownList("PartyType", typysList, new {style= "width: 240px;" })</span>
                    </td>
                    <td class="go-right" colspan="5">
                        <input type="button" onclick="generatePartyGrid();" name="Filter" value='@Html.GetResource("Filter")' class="btn filter-button " />
                    </td>
                </tr>
            </table>
        </div>
        <div class="tail">
        </div>
    </div>
    <div class="grid-container">
        @(Html.Telerik().Grid(Model.Items)
                            .Name("partyGrid")
                    .Columns(columns =>
                                 {
                                     columns.Bound(o => o.ID);
                                     columns.Bound(o => o.Name).ClientTemplate("<div class='grid-title-container floating-left'><span><#= Name#></span> </div>").Title(Html.GetResource("Name"));
                                 })
                            .DataBinding(dataBinding => dataBinding.Ajax().Select("_IndexNoHttps", "Party")).EnableCustomBinding(true)
                        .ClientEvents(clientEvents => clientEvents.OnRowDataBound("onRowDataBound").OnDataBinding("PartyGridDataBinding").OnDataBound("PartyGridDataBound").OnRowDataBound("onRowDataBound").OnRowSelect("onRowSelected"))
                        .Scrollable(scrolling => scrolling.Enabled(false))
                        .Selectable()
                                .Pageable(paging => paging.PageSize(Noqoush.AdFalcon.Web.Controllers.Utilities.Config.PageSize).Total(int.Parse(ViewData["total"].ToString())).Style(GridPagerStyles.NextPreviousAndNumeric).Position(GridPagerPosition.Bottom))
                        .Filterable(filtering => filtering.Enabled(false))
                        .Groupable(grouping => grouping.Enabled(true)).Footer(true))
    </div>
</div>
