@{
    ViewBag.Title = Html.GetResource("AdDetails", "Titles");
}
@model Noqoush.AdFalcon.Services.Interfaces.DTOs.Campaign.Creative.AdCreativeFullSummaryDto
<script language="javascript" type="text/javascript">
     function KewordChanged(event, item) {
         if ((typeof(item) != "undefined") && (item != null)) {
             $('[name="Keyword.Id"]').val(item.Id);
         } else {
             $('[name="Keyword.Id"]').val('');
         }
		 $("form:not(#SwitchAccountForm)").validate().form();
     }

     function localInitilize() {

        jQuery('#Kewords_Name').addClass('required');
        /*jQuery('#DomainURL').change(function () {
            ValidateUrl(jQuery('#DomainURL'));
        });*/
        
        @foreach (var appSiteAdQueueDto in Model.AppSiteAdQueues)
        {
            <text>
    addAppSiteId(@appSiteAdQueueDto.Id,'@(appSiteAdQueueDto.Name)',true);
</text>
        }
        @{
            if (Model.AppSiteAdQueues.Count > 0)
            {
                <text>
   jQuery('#AppSitesContiner').slideDown('slow');
</text>
            }
        }
    }

    function onRunTypeChange(item, value) {
        switch (value) {
        case "Apps":
            {
                jQuery('#AppSitesContiner').slideDown('slow');
                break;
            }
        case "RON":
            {
                jQuery('#AppSitesContiner').slideUp('slow');
                break;
            }
        }
    }
    $(document).ready(function () {

        if (AccountRole == "DSP") {
            SetSelectedTap("");
        } else {
            SetSelectedTap("ListMenuPublisher");

        }

    });
</script>
@using (Html.BeginForm("AdDetails"))
{
    @Html.Hidden("KeywordId", Model.Keyword != null ? Model.Keyword.Id.ToString() : string.Empty)
    @Html.HiddenFor(m => m.Keyword.Id)

    <div class="section-form-container">
        @Html.Partial("Summary/CampaignSummary", Model.Campaign)
        @Html.Partial("Summary/AdGroupSummary", Model.Group)
        @Html.Partial("Summary/AdSummary", Model)
        <p>
        </p>
        <div class="data-row info-container">
            <br />
            <div class="data-row data-container">
                <div class="label-container">
                    &nbsp;</div>
                <div class="field-container">
                    @Html.GetRadioButton("RunType", Html.GetResource("RunOnNetwork", "Campaign"), Model.AppSiteAdQueues.Count == 0, "floating-left iea-rbtn-width-b", onChange: "onRunTypeChange", value: "RON")
                    @Html.GetRadioButton("RunType", Html.GetResource("RunOnApps", "Campaign"), Model.AppSiteAdQueues.Count > 0, "floating-left iea-rbtn-width-b", onChange: "onRunTypeChange", value: "Apps")
                </div>
            </div>
            <div id="AppSitesContiner" style="display: none;">
                <br />
                <div class="data-row data-container">
                    <div class="label-container">
                        &nbsp;</div>
                    <div class="field-container">
                        @Html.GetRadioButton("Include", Html.GetResource("Include", "Global"), Model.Include, "floating-left iea-rbtn-width-b", value: "true")
                        @Html.GetRadioButton("Include", Html.GetResource("Exclude", "Global"), !Model.Include, "floating-left iea-rbtn-width-b", value: "false")
                    </div>
                </div>
                @Html.Action("AppSites", "AppSite")
            </div>
        </div>
    </div>
   
    <div class="section-footer">
    </div>
    <div class="data-row go-center">
        <input type="submit" name="Approve" value="@Html.GetResource("Approve", "Commands")" class="primary-btn"/>
        <input type="submit" name="Reject" value="@Html.GetResource("Reject", "Commands")" class="btn"/>
        <input type="button" value="@Html.GetResource("Close", "Commands")" class="btn" onclick=" redirect('@Url.Action("Index", "AdOps")')"/>
    </div> 
}
