@{
    ViewBag.Title = Html.GetResource("AdCreation", "Titles");
}
@using Noqoush.AdFalcon.Domain.Common.Model.Campaign
@using Noqoush.AdFalcon.Web.Controllers.Model.Campaign
@model Noqoush.AdFalcon.Web.Controllers.Model.Campaign.CreativeViewModel
<script type="text/javascript" language="javascript">
    var maxAdTextLength = 40;
    var isNew =@(Model.AdCreativeDto == null || Model.AdCreativeDto.ID < 1 ? "true" : "false");
    var isGroupPaused = @(Model.AdCreativeDto.IsAllAdsPaused?"true":"false");
    var PartialBannerMsg = '@Html.GetResource("PartialBannerBR")';
    var RequiredBannerMsg = '@Html.GetResource("RequiredBannerBR")';
    var adsMoreThanMinBidDMsg = '@Html.GetResource("MinBidErrMsg")';
    var tileImageMissingBRMsg = '@Html.GetResource("TileImageMissingBR")';
    var minBid = @Model.AdCreativeDto.MinBid;
    var discountedBidDesc = '@Html.GetResource("DiscountedBidDesc", "Campaign")';
    var has_discount = @((Model.DiscountDto != null).ToString().ToLower());
    var discount_value = @(Model.DiscountDto != null ? Model.DiscountDto.Value : 0);
    var discount_type = @(Model.DiscountDto != null ? Model.DiscountDto.TypeId : 0);
    var remainingCharactersMsg = ' @Html.GetResource("remainingCharacters", "Campaign") ';
    var close_text = '@Html.GetResource("Close")';
    var yes_text = '@Html.GetResource("Yes")';
    var no_text = '@Html.GetResource("No")';
    var ishouseadd= true;

    var invalidFormatMessage = '@Html.GetResource("MissingAdTags")';
    var succcessFormatMessage = '@Html.GetResource("SuccessPrepareTag","Campaign")';

    var formatContentUrl = '@Url.Action("IsFormattedAdCreativeContent", "campaign")';

    var validateRM_AdAction= function() {};

    $(document).ready(function () {

        if (AccountRole == "DSP") {
            SetSelectedTap("");
        } else {
            SetSelectedTap("ListMenuPublisher");

        }

    });
</script>
@using (Html.BeginForm())
{
    RouteData routeData = RouteTable.Routes.GetRouteData(new HttpContextWrapper(System.Web.HttpContext.Current));
    @Html.Hidden("AdTypeId", (int)Model.AdCreativeDto.TypeId);
    @Html.Hidden("OrientationType", (int)Model.AdCreativeDto.OrientationType);
    @Html.HiddenFor(x => x.AdCreativeDto.AdActionId);
    @Html.Hidden("AdBannerTypeId", Model.AdCreativeDto.AdBannerType.HasValue ? (int)Model.AdCreativeDto.AdBannerType : (int?)null);
    @Html.Hidden("TileImage", Model.AdCreativeDto.TileImageId);
    @Html.HiddenFor(p => p.AdCreativeDto.IsAdPaused);
    @Html.HiddenFor(p => p.AdCreativeDto.IsSecureCompliant);
    <div id="dialog-form" title="@Html.GetResource("Preview")" style="display: none;">
        <div class="tablet-bg">
            <img id="imgPreview" />
        </div>
    </div>
    <div id="statusDialog-form" title="@Html.GetResource("PauseAdConfirmationTitle", "Campaign")" style="display: none; ">
        <div class="go-left data-row">
            @Html.GetResource("PauseAdConfirmation", "Campaign")
        </div>
    </div>
    <div class="data-row section-container">
        <br />
        <div class="data-row section-container">
            <div class="data-row slider-container">
                <div class="slider-text-up go-left">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width: 263px"></td>
                            <td style="width: 217px;"></td>
                            <td style="width: 261px;"></td>
                            <td>
                                @Html.GetResource("AdCreation", "Titles")
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="gray-slider ">
                    <div class="green-slider-container stage-four">
                    </div>
                    <div class="step-o-1">
                    </div>
                    <div class="step-o-2">
                    </div>
                    <div class="step-o-3">
                    </div>
                </div>
                <div class="slider-text-down go-left">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width: 263px" class="slider-over">
                                @Html.GetResource("Campaigninfo", "Titles")
                            </td>
                            <td style="width: 217px;" class="slider-over">
                                @Html.GetResource("AdGroupObjective", "Titles")
                            </td>
                            <td style="width: 261px;" class="slider-over">
                                @Html.GetResource("TargetingAndAudience", "Titles")
                            </td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <a href="#" class="pink-square stage-four">4</a>
            </div>
            <div class=" data-row ">
                <h2>
                    @Html.GetResource("AdCreation", "Titles")
                </h2>
                <div class="section-form-container">
                    <div class="section-form-inner-container info-container">
                        <div class="data-row data-container">
                            <div class="label-container">
                                <span class="field-title required-field">@Html.GetResource("AdName", "Campaign")</span>
                            </div>
                            <div class="field-container">
                                @Html.AdFalconEditorFor(p => p.AdCreativeDto.Name)
                                @Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.Name)
                            </div>
                        </div>
                        <div class="data-row data-container">
                            <div class="label-container">
                                <span class="field-title required-field campaign-upload">@Html.GetResource("AdText", "Campaign")</span>
                            </div>
                            <div class="field-container">
                                @Html.AdFalconEditorFor(p => p.AdCreativeDto.AdText)@Html.AdFalconValidationMessageFor(p => p.AdCreativeDto.AdText)
                                <span id="remainingCharactersDesc" class="data-row guid-text go-left"></span>
                            </div>
                        </div>
                        @if (Model.AdCreativeDto.ID < 1)
                        {
                            <div class="data-row data-container">
                                <div class="label-container">
                                    <span class="field-title required-field">@Html.GetResource("AdType", "Campaign")</span>
                                </div>
                                <div class="field-container">
                                    <div class="data-row">
                                        @Html.AdFalconDropDownList("AdType", Model.AdTypes)
                                    </div>
                                </div>
                            </div>
                            <div class="data-row data-container" id="deviceTypeDiv">
                                <div class="label-container">
                                    <span class="field-title required-field">@Html.GetResource("AdBannerType", "Campaign")</span>
                                </div>
                                <div class="field-container">
                                    <div class="data-row">
                                        @Html.AdFalconDropDownList("AdBannerType", Model.AdBannerTypes)
                                    </div>
                                </div>
                            </div>
                            <div class="data-row data-container" id="environmentTypeContiner" style="display: none;">
                                <div class="label-container">
                                    <span class="field-title required-field">@Html.GetResource("EnvironmentType", "Campaign")</span>
                                </div>
                                <div class="field-container">
                                    <div class="data-row">
                                        @Html.AdFalconDropDownList("EnvironmentType", Model.EnvironmentTypes)
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            @Html.Hidden("EnvironmentType", (int)Model.AdCreativeDto.EnvironmentType)
                            @Html.Hidden("OrientationType", (int)Model.AdCreativeDto.OrientationType)
                            if (Model.AdCreativeDto.TypeId != AdTypeIds.Text)
                            {
                                <div class="data-row data-container">
                                    <div class="label-container">
                                        <span class="field-title required-field">@Html.GetResource("EnvironmentType", "Campaign")</span>
                                    </div>
                                    <div class="field-container">
                                        <span class="side-text">
                                            @Model.EnvironmentTypes.Where(p => p.Value == ((int)Model.AdCreativeDto.EnvironmentType).ToString()).Single().Text
                                        </span>
                                    </div>
                                </div>
                            }
                        }
                        <div class="data-row data-container" id="IsSecureCompliantDiv" style="display:none">
                            <div class="label-container">
                                <span class="field-title required-field">@Html.GetResource("Settings", "Commands")</span>
                            </div>
                            <div class="field-container">
                                @* @Html.AdFalconTextBoxFor(m => m.SettingsDto.AppSiteServerSetting.SupportedAdTypes)
                                    @Html.AdFalconValidationMessageFor(p => p.SettingsDto.AppSiteServerSetting.SupportedAdTypes)*@
                                @Html.GetCheckBox("IsSecureCompliantRich", Html.GetResource("IsSecureCompliant", "Creative"), Model.AdCreativeDto.IsSecureCompliant, onChange: "onIsSecureCompliantChangde")




                            </div>
                        </div>

                    </div>
                    <h2>
                        @Html.GetResource("Creative", "Campaign")
                    </h2>
                    @{
                        var isShowed = "";
                        if (Model.TileImageViewModel.TileImages != null)
                        {
                            <div id="CreativeTextContainer">
                                @Html.Partial("Creative/CreativeUnit/CreativeText", Model.TileImageViewModel)
                            </div>
                        }
                        foreach (var adType in Model.CreativeUnitIds())
                        {
                            if (Model.AdCreativeDto.ID < 1)
                            {
                                isShowed = "";
                                <div id="CreativeUnitContainer_@(adType)" style='display: none'>
                                    @if (Model.PhoneCreativeUnits.ContainsKey(adType))
                                    {
                                        <div name="PhoneBannersCreativeUnitContainer" @Html.Raw(isShowed)>
                                            @Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.PhoneCreativeUnits[adType], TypeId = (AdTypeIds)adType ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker })
                                        </div>
                                        isShowed = "";
                                    }
                                    @if (Model.TabletCreativeUnits.ContainsKey(adType))
                                    {
                                        <div name="TabletBannersCreativeUnitContainer" @Html.Raw(isShowed)>
                                            @Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.TabletCreativeUnits[adType], TypeId = (AdTypeIds)adType  ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker})
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                if (Model.PhoneCreativeUnits.ContainsKey(adType))
                                {
                                    <div name="PhoneBannersCreativeUnitContainer">
                                        @Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.PhoneCreativeUnits[adType], TypeId = (AdTypeIds)adType ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker })
                                    </div>
                                }
                                if (Model.TabletCreativeUnits.ContainsKey(adType))
                                {
                                    <div name="TabletBannersCreativeUnitContainer">
                                        @Html.Partial("Creative/CreativeUnit/GeneralCreative", new CreativeUnitLisViewModel { AdCreativeDto = Model.AdCreativeDto, CreativeUnits = Model.TabletCreativeUnits[adType], TypeId = (AdTypeIds)adType  ,IsAllowedToSaveImpressionTracker=Model.IsAllowedToSaveImpressionTracker})
                                    </div>
                                }
                            }
                        }
                    }
                </div>
                <div class="section-footer">
                </div>
            </div>
        </div>
        <div class="data-row button-container">
            <input type="submit" value="@Html.GetResource("Save", "Commands")" name="Create" class="save-button" onclick="return creativeUnitValidate();" />
            <input type="button" value='@Html.GetResource("Close", "Commands")' class="btn" onclick="redirect('@(string.IsNullOrWhiteSpace(Request.QueryString["returnUrl"]) ? Url.Action("Ads", "HouseAd", new { id = routeData.Values["id"], adGroupId = routeData.Values["adGroupId"] , isHouseAd = true}): Request.QueryString["returnUrl"] )')" />
        </div>
    </div>
                        }
